<div class="container">
  <div class="content-wrap">
    <div class="row">
      <div class="col">
        <div class="block">
          <div class="block-header">
            <div class="title">
              Create Ticket
            </div>
          </div>
          <div class="block-body">
            <form [formGroup]="inputForm" (ngSubmit)="createTicket()">

              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <input formControlName="subject" matInput placeholder="Enter the subject of your ticket">
                    <mat-hint *ngIf="submitted && f.subject.errors">
                      <div *ngIf="f.subject.errors.required">Subject is required</div>
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col  m-b m-t">
                  <label class="m-b">Priority</label>
                  <mat-radio-group color="primary" formControlName="priority">
                    <mat-radio-button value="5d134678f6773521885533b6">
                      <span class="blue">Normal</span>
                    </mat-radio-button>
                    <mat-radio-button value="5d134678f6773521885533b7" class="m-l m-r">
                      <span class="orange">Urgent</span>
                    </mat-radio-button>
                    <mat-radio-button value="5d134678f6773521885533b8"> 
                      <span class="red">Critical</span>
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label class="m-b">Description</label>
                 <textarea  class="text"   rows="8" formControlName="description"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="login-wrap">
                    <button mat-raised-button color="primary" type="submit" >create</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>