.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  
  .row {
    width: 100%;
    margin:0;
  }
  
  .loginCard {
    padding: 2rem;
  
    background: #ffffff;
    border: 2px solid #C1C7D0;
  }
  
  .logo {
    text-align: center;
    color: #344563;
    margin: 1.2rem 0;
  }
  
  .title {
    font-size: 24px;
  }
  
  .e-suvidhaLogo {
    width: 212px;
    // padding: 1rem 0 2rem 0;
  }
  
  .content {
    font-size: 14px;
    color: #505F79;
  }
  
  .form-wrap {
    width: 600px;
    margin: 2rem 0;
  }
  
  .desc {
    text-align: center;
    margin: 1.2rem;
  }
  
  .input-wrap {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    margin: 1rem 0;
    width:auto;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .forgot-wrap {
    display: block;
    text-align: right;
  }
  
  .forgot-pass {
    display: inline-block;
    color: #7A869A;
    font-size: 1em;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .login-wrap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 1.4rem;
  }
  
  .login-wrap .create {
    color: #1976d2;
    transition: all 0.2s ease-in-out;
  
    &:hover {
      background: #FB6F0A;
    }
  }
  
  mat-select {
    height: 3.6rem;
  }
  
  
  .orange {
    background: rgb(41, 185, 85);
    padding:4px;
     
      border-radius: 4px;
     color:white;
  
  }
  
  
  .red {
    background:rgb(142, 36, 170);
    padding:4px;
     
      border-radius: 4px;
     color:white;
  }
  
  
  .blue {
   background:rgb(230, 81, 0);
   padding:4px;
     
      border-radius: 4px;
     color:white;
  }
  
  .tool-border {
    
    padding: 0.7rem !important;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #C1C7D0;
    margin-bottom: 0%;
    border-collapse: collapse
  }
  .des{
    width:100%;
    margin-top: 0%;
   height:250px;
  }
  label{
    display:block;
  }
  .text{
    width:100%;
    min-width:100%;
    max-width:100%;
    border-radius:5px;

  }
  .text:hover{
    border-style:solid;
    border-color: #000000 !important;
    border-width:2px;
  }
  .text:focus{
  border-color: #fc891f;
  border-width:2px;
  outline: none !important;
  }