:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: #F4F5F7;
    color: #FB6F0A;
  }

  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: #F4F5F7 !important;
    }
  }
}

.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}

.link-master{
  display: flex;
  justify-content: flex-end;
}

.link-divider{
  margin: 1rem 0;
  color: #E5E5E5;
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  align-items: center;
  width: auto;
  color: #6B778C;
  transition: all 0.2s ease-in-out;

  &.expanded {
    color: #344563;

    .routeIcon {
      color: #FC891F;
    }
  }

  .routeIcon {
    margin-right: 18px;
    color: #6B778C;
  }
}
