<div class="wrapper">

  <div class="loginCard">
    <form [formGroup]="changePassForm" (ngSubmit)="submit()">
      <div class="logo">
        <mat-icon class="e-suvidhaLogo" svgIcon="e-suvidha"></mat-icon>
        <div class="title">Change Password</div>
      </div>

      <mat-card-content class="form-wrap">
        <p class="content">
          Enter your new and old password below.
        </p>
        <div class="input-wrap">
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input type="password" formControlName="newpassword" matInput placeholder="New Password">
            <mat-hint *ngIf="submitted && f.newpassword.errors">
              <div *ngIf="f.newpassword.errors.required">New Password is required</div>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="input-wrap">
          <mat-form-field appearance="outline">
            <mat-label>Repeat New Password</mat-label>
            <input type="password" formControlName="repeatnewpassword" matInput placeholder="Repeat New Password">
            <mat-hint *ngIf="submitted && f.repeatnewpassword.errors">
              <div *ngIf="f.repeatnewpassword.errors.required">Repeat New Password is required</div>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="input-wrap">
          <mat-form-field appearance="outline">
            <mat-label>Old Password</mat-label>
            <input type="password" formControlName="oldpassword" matInput placeholder="Old Password">
            <mat-hint *ngIf="submitted && f.oldpassword.errors">
              <div *ngIf="f.oldpassword.errors.required">Old Password is required</div>
            </mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>

      <div class="reset-wrap">
        <button routerLink="/mods/dashboard" mat-raised-button class="back-button">Back</button>
        <button type="submit" mat-raised-button class="reset-button">Change Password</button>
      </div>
    </form>

  </div>

</div>
