<div class="container">

  <div class="content-wrap">
    <section>
      <div class="row">
        <div class="col">
          <div class="block">
            <div class="block-header">
              <div class="title">
                <span *ngIf="view_tnx">Transaction Details</span>
              </div>
            </div>

            <div class="block-body" *ngIf="!view_tnx">
              <span *ngIf="tnx_stat">No transactions have been done, yet.</span>
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="row-border hover full-width make-table-look-sexy" style="width:100%"
                *ngIf="TransactionsData?.length >= 1">
                <thead>
                  <tr>
                    <th class="f-value">Transaction ID</th>
                    <th class="f-value">Service</th>
                    <th class="f-value">Account No</th>
                    <th class="f-value">Bill Amount</th>
                    <th class="f-value">PaidAmount</th>
                    <th class="f-value">Mode</th>
                    <th class="f-value">Paid On</th>
                    <th class="f-value">Status</th>
                    <th class="f-value">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of TransactionsData">
                    <td class="f-name">{{element?.tnx_uid}}</td>
                    <td class="f-name">{{element?.service_name}}</td>
                    <td class="f-name">{{element?.con_acct_id}}</td>
                    <td class="f-name">Rs. {{element?.bill_amt}}/-</td>
                    <td class="f-name">Rs. {{element?.paid_amt}}/-</td>
                    <td class="f-name">
                      <span *ngIf="element?.payment_mode">
                        {{element?.payment_mode}}
                      </span>
                      <span *ngIf="!element?.payment_mode">
                        --
                      </span>
                    </td>
                    <td class="f-name">{{element?.inserted_date | date}}</td>
                    <td *ngIf="element?.tnx_status_name == 'INITIATED' || element?.tnx_status_name == 'BILL GENERATED'"
                      class="f-name blue">
                      <b>PENDING</b>
                    </td>
                    <td *ngIf="element?.tnx_status_name == 'RETRY' || element?.tnx_status_name == 'PAYMENT INITIATED'"
                      class="f-name green">
                      <b>SUCCESS</b>
                    </td>
                    <td
                      *ngIf="element?.tnx_status_name == 'DISPUTE RAISED' || element?.tnx_status_name == 'DISPUTE CLOSED'"
                      class="f-name red">
                      <b>DISPUTED</b>
                    </td>
                    <td *ngIf="element?.tnx_status_name == 'CANCELLED'" class="f-name red">
                      <b>CANCELLED</b>
                    </td>

                    <td>
                      <button class="btn btn-table" color="primary" mat-raised-button (click)="view(element)">
                        <!-- <i class="material-icons">
                          remove_red_eye
                        </i> -->
                        View
                      </button>
                      <!-- <button class="btn" mat-raised-button (click)="openDisputeDialog(element)">
                        <mat-icon svgIcon="dispute"></mat-icon>
                      </button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="block-body" *ngIf="view_tnx">

              <div class="row dns-head">
                <button mat-raised-button (click)="onPrint()" class="cta">Print</button>
                <button mat-raised-button (click)="back()" class="cta">Back</button>
                <button *ngIf="tnx_data?.tnx_status_name == 'RETRY' || tnx_data?.tnx_status_name == 'PAYMENT INITIATED'"
                  class="btn" mat-raised-button (click)="openDisputeDialog()">
                  Raise Dispute
                </button>
              </div>
              <div class="dns-body watermark">
                <div class="row dns-head">
                  <div class="col">
                    <div class="logo logo-small">
                      <img src="/esuvidha.png" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-value grow" style="border: 0;">
                        {{tnx_data?.centre_name}}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="com-logo">
                      <img src="/mvvnl.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="dns-body">
                  <div class="row m-b-h">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Payment Receipt ( <i style="color:orange;">Consumer copy</i> )
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="slip-info">
                        <div class="slip-key">
                          Date:
                        </div>
                        <div class="slip-value">
                          {{getReceiptDate()}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Transaction No.:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.tnx_uid}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Counter Name/No.:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.counter_no}} - {{counter_no}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Account ID:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.con_acct_id}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Consumer Name:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.consumer_name}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col" *ngIf="tnx_data?.rpdrp_nonrpdrp == 'HCL'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Address:
                        </div>
                        <div class="slip-value grow">
                          {{getAddress()}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Bill Amount:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.bill_amt}}/-
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Total Amount Received:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.paid_amt}}/-
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Total Amount Received (in words):
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.amtInWords}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Collection Date:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.inserted_date | date}}
                        </div>
                      </div>
                    </div>

                    <div class="col"
                      *ngIf="tnx_data?.tnx_status_name != 'CANCELLED' && tnx_data?.tnx_status_name != 'INITIATED' && tnx_data?.tnx_status_name != 'BILL GENERATED' ">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Mode of Payment:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.payment_mode}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b" *ngIf="tnx_data?.payment_mode == 'CARD'">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Card Type:
                        </div>
                        <div class="slip-value grow" *ngIf="tnx_data?.card_type == 'DC'">
                          Debit Card
                        </div>
                        <div class="slip-value grow" *ngIf="tnx_data?.card_type == 'CC'">
                          Credit Card
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          POS #:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.pos_num}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b" *ngIf="tnx_data?.payment_mode == 'CHEQUE' || tnx_data?.payment_mode == 'DD'">
                    <div class="col" *ngIf="tnx_data?.mode_type == 'CHEQUE'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Cheque No.:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.cheque_num}}
                        </div>
                      </div>
                    </div>

                    <div class="col" *ngIf="tnx_data?.mode_type == 'DD'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          DD No.:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.cheque_num}}
                        </div>
                      </div>
                    </div>

                    <div class="col" *ngIf="tnx_data?.mode_type == 'CHEQUE'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Cheque Date:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.cheq_due_date | date}}
                        </div>
                      </div>
                    </div>

                    <div class="col" *ngIf="tnx_data?.mode_type == 'DD'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          DD Date:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.cheq_due_date | date}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b" *ngIf="tnx_data?.payment_mode == 'CHEQUE' || tnx_data?.payment_mode == 'DD'">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Bank Name:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.bank_name}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Payment Received By (Name):
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.fname}} {{tnx_data?.mname}} {{tnx_data?.lname}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Payment Received By (ID):
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.username}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Receipt Printed By (Name):
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.fname}} {{tnx_data?.mname}} {{tnx_data?.lname}} - {{tnx_data?.username}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Receipt Printed On:
                        </div>
                        <div class="slip-value grow">
                          {{getReceiptDate()}}
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Transaction Status:
                        </div>
                        <div class="slip-value grow"
                          *ngIf="tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                          SUCCESS
                        </div>
                        <div class="slip-value grow"
                          *ngIf="tnx_data?.tnx_status_name == 'DISPUTE RAISED' || tnx_data?.tnx_status_name == 'DISPUTE CLOSED'">
                          DISPUTED
                        </div>
                        <div class="slip-value grow"
                          *ngIf="tnx_data?.tnx_status_name == 'INITIATED' || tnx_data?.tnx_status_name == 'BILL GENERATED'">
                          PENDING
                        </div>
                        <div class="slip-value grow" *ngIf="tnx_data?.tnx_status_name == 'CANCELLED'">
                          CANCELLED
                        </div>
                      </div>
                    </div>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="row m-t m-b"
                    *ngIf="tnx_data?.rpdrp_nonrpdrp == 'HCL' && tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                        </div>
                        <div class="slip-value">
                          For MVVNL Use Only:-
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-t m-b">
                    <div class="col"
                      *ngIf="tnx_data?.rpdrp_nonrpdrp == 'HCL' && tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          TPSL ID:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.tpsl_id}}
                        </div>
                      </div>
                    </div>
                    <div class="col"
                      *ngIf="tnx_data?.rpdrp_nonrpdrp == 'HCL' && tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          UPPCL ID:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.uppcl_id}}
                        </div>
                      </div>
                    </div>
                    <div class="col"
                      *ngIf="tnx_data?.rpdrp_nonrpdrp == 'FG' && tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Posting ID:
                        </div>
                        <div class="slip-value grow">
                          {{tnx_data?.posting_id}}
                        </div>
                      </div>
                    </div>
                    <div class="col"
                      *ngIf="tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Time:
                        </div>
                        <div class="slip-value grow">
                          {{getReceiptTime()}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="dns-body watermark">
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Centre:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.centre_code}} - {{tnx_data?.centre_name}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Counter No.:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.counter_no}} - {{counter_no}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Ledger ID - Transaction #:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.ledger_uid}} - {{tnx_data?.tnx_uid}}
                      </div>
                    </div>
                  </div>


                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Service Name:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.service_name}}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Transaction Status:
                      </div>
                      <div class="slip-value grow"
                        *ngIf="tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                        SUCCESS
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Agent Name:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.fname}} {{tnx_data?.mname}} {{tnx_data?.lname}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Agent Username:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.username}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Account ID:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.con_acct_id}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Consumer Name:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.consumer_name}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col" *ngIf="receiptData?.provider == 'HCL'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Contact Number:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.con_contact_num}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Bill Amount:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.bill_amt}}/-
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Bill Due Date:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.bill_due_date | date}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Collection Date:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.inserted_date | date}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Total Amount Received:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.paid_amt}}/-
                      </div>
                    </div>
                  </div>
                  <div class="col" *ngIf="tnx_data?.tnx_status_name != 'CANCELLED'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Mode of Payment:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.payment_mode}}
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>