<div class="container">
  <div class="content-wrap">

    <div class="row">
      <div class="col">
        <div class="block">
          <div class="block-header">
            <div class="title">
              Ledger Summary
            </div>
          </div>

          <div class="block-body" *ngIf="!view_tnx">

            <div class="row dns-head">
              <button mat-raised-button (click)="back()" class="cta">Back</button>
            </div>

            <div class="row led-info">

              <div class="info-block">
                <div class="info-block-head">
                  <div class="icon green">
                    <i class="material-icons">
                      calendar_view_day
                    </i>
                  </div>
                </div>

                <div class="info-block-body">
                  <div class="value">
                    {{ledgerUID}}
                  </div>
                  <div class="key">
                    Ledger UID
                  </div>
                </div>
              </div>

              <div class="info-block">
                <div class="info-block-head">
                  <div class="icon blue">
                    <i class="material-icons">
                      calendar_today
                    </i>
                  </div>
                </div>

                <div class="info-block-body">
                  <div class="value">
                    {{led_details?.created_on}}
                  </div>
                  <div class="key">
                    Created on
                  </div>
                </div>
              </div>

              <div class="info-block">
                <div class="info-block-head">
                  <div class="icon orange">
                    <i class="material-icons">
                      person
                    </i>
                  </div>
                </div>

                <div class="info-block-body">
                  <div class="value">
                    {{led_details?.name}}
                  </div>
                  <div class="key">
                    Created by
                  </div>
                </div>
              </div>

              <div class="info-block">
                <div class="info-block-head">
                  <div class="icon green">
                    <i class="material-icons">
                      home
                    </i>
                  </div>
                </div>

                <div class="info-block-body">
                  <div class="value">
                    {{led_details?.centre_code}}
                  </div>
                  <div class="key">
                    Centre Code
                  </div>
                </div>
              </div>
            </div>

            <div class="tabs">
              <mat-tab-group>
                <mat-tab label="Transactions" style="margin-top: 20px;">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="row-border hover full-width make-table-look-sexy" style="width:100%"
                    *ngIf="TransactionsData?.length >= 1">
                    <thead>
                      <tr>
                        <th class="f-value">Transaction ID</th>
                        <th class="f-value">Service Name</th>
                        <th class="f-value">Account No</th>
                        <th class="f-value">Bill Amount</th>
                        <th class="f-value">Paid Amount</th>
                        <th class="f-value">Mode</th>
                        <th class="f-value">Paid On</th>
                        <th class="f-value">Status</th>
                        <th class="f-value">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let element of TransactionsData">
                        <td class="f-name">{{element?.tnx_uid}}</td>
                        <td class="f-name">{{element?.service_name}}</td>
                        <td class="f-name">{{element?.con_acct_id }}</td>
                        <td class="f-name">{{element?.bill_amt}}/-</td>
                        <td class="f-name">{{element?.paid_amt}}/-</td>
                        <td class="f-name" *ngIf="element?.payment_mode == ''">PENDING</td>
                        <td class="f-name" *ngIf="element?.payment_mode != ''">{{element?.payment_mode}}</td>
                        <td class="f-name">{{element?.inserted_date | date}}</td>
                        <td class="f-name"
                          *ngIf="element?.tnx_status_name == 'INITIATED' || element?.tnx_status_name == 'BILL GENERATED'"
                          style="color: blue">PENDING</td>
                        <td class="f-name"
                          *ngIf="element?.tnx_status_name == 'RETRY' || element?.tnx_status_name == 'PAYMENT INITIATED'"
                          style="color: green">SUCCESS</td>
                        <td class="f-name"
                          *ngIf="element?.tnx_status_name == 'DISPUTE RAISED' || element?.tnx_status_name == 'DISPUTE CLOSED'"
                          style="color: orangered">DISPUTED</td>
                        <td class="f-name" *ngIf="element?.tnx_status_name == 'CANCELLED'" style="color:red">CANCELLED
                        </td>


                        <td>
                          <button class="btn btn-table" color="primary" mat-raised-button (click)="view(element)">
                            <!-- <i class="material-icons">
                          remove_red_eye
                        </i> -->
                            View
                          </button>
                          <!-- <button class="btn" mat-raised-button (click)="openDisputeDialog(element)">
                        <mat-icon svgIcon="dispute"></mat-icon>
                      </button> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--Table-->
                  <!-- <div class="table-wrap m-t"> -->
                  <!--Filter-->
                  <!-- <mat-form-field class="filter">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                    <table mat-table [dataSource]="dataSource" matSort> -->

                  <!-- Transaction ID Column -->
                  <!-- <ng-container matColumnDef="tnx_uid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction UID </th>
                        <td mat-cell *matCellDef="let element"> {{element?.tnx_uid}} </td>
                      </ng-container> -->

                  <!-- Service Name Column -->
                  <!-- <ng-container matColumnDef="service_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.service_name}} </td>
                      </ng-container> -->

                  <!-- CreatedOn Column -->
                  <!-- <ng-container matColumnDef="created_on">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
                        <td mat-cell *matCellDef="let element">
                          {{element.inserted_date.getHours()}}:{{element.inserted_date.getMinutes()}}
                          {{element.inserted_date.getDate()}}/{{element.inserted_date.getMonth()}}/{{element.inserted_date.getFullYear()}}
                        </td>
                      </ng-container> -->

                  <!-- Contact Number Column -->
                  <!-- <ng-container matColumnDef="contactNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.con_contact_num}} </td>
                      </ng-container> -->

                  <!-- Bill Amount Column -->
                  <!-- <ng-container matColumnDef="billAmount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          Bill Amount
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <div class="with-icon">
                            {{element.bill_amt}}
                          </div>
                        </td>
                      </ng-container> -->

                  <!-- Received Amount Column -->
                  <!-- <ng-container matColumnDef="receivedAmount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          Received<br />Amount/Type
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <div class="with-icon">
                            {{element.paid_amt}}/-/{{element.payment_mode}}
                          </div>
                        </td>
                      </ng-container> -->

                  <!-- Status Column -->
                  <!-- <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let element">
                          <div class="with-icon"
                            *ngIf="element?.tnx_status_name == 'INITIATED' || element?.tnx_status_name == 'BILL GENERATED'">
                            PENDING
                          </div>

                          <div class="with-icon"
                            *ngIf="element?.tnx_status_name == 'RETRY' || element?.tnx_status_name == 'PAYMENT INITIATED'">
                            SUCCESS
                          </div>

                          <div class="with-icon"
                            *ngIf="element?.tnx_status_name == 'DISPUTE RAISED' || element?.tnx_status_name == 'DISPUTE CLOSED'">
                            DISPUTED
                          </div>

                          <div class="with-icon" *ngIf="element?.tnx_status_name == 'CANCELLED'">
                            CANCELLED
                          </div>
                        </td>
                      </ng-container> -->

                  <!-- Action Column -->
                  <!-- <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
                        <td mat-cell *matCellDef="let element">
                          <a mat-button color="primary" (click)="view(element)"> View </a>
                        </td>
                      </ng-container> -->

                  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                  </div> -->
                </mat-tab>

                <!--Slip-->
                <mat-tab label="Slip">
                  <div class="block-body watermark">

                    <div class="row dns-head cta">
                      <button mat-raised-button (click)="onPrint()" class="cta">Print</button>
                    </div>

                    <div class="row dns-head">
                      <div class="logo">
                        <img src="/esuvidha.png" alt="">
                      </div>

                      <div class="slip-info">
                        <div class="slip-key">
                          Date:
                        </div>
                        <div class="slip-value">
                          {{led_details?.created_on}}
                        </div>
                      </div>
                    </div>

                    <div class="dns-body">
                      <div class="row">
                        <div class="col">

                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              Agent Name:
                            </div>
                            <div class="slip-value grow">
                              {{led_details?.name}}
                            </div>
                          </div>

                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              Centre Code:
                            </div>
                            <div class="slip-value grow">
                              {{led_details?.centre_code}}
                            </div>
                          </div>

                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              Counter No.:
                            </div>
                            <div class="slip-value grow">
                              {{led_details?.counter_no}}
                            </div>
                          </div>

                        </div>
                        <div class="col">

                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              Ledger UID:
                            </div>
                            <div class="slip-value grow">
                              {{ledgerUID}}
                            </div>
                          </div>

                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              No. of Transactions:
                            </div>
                            <div class="slip-value grow">
                              {{led_details?.total_tnx}}
                            </div>
                          </div>

                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              No. of Services:
                            </div>
                            <div class="slip-value grow">
                              1
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="row">

                        <div class="col">
                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              Total Cash Amt.:
                            </div>
                            <div class="slip-value grow">
                              {{led_details?.cash_sum}}/-
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              Total Cheque Amt.:
                            </div>
                            <div class="slip-value grow">
                              {{led_details?.cheque_sum}}/-
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              Total POS Amt.:
                            </div>
                            <div class="slip-value grow">
                              {{led_details?.card_sum}}/-
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="row">

                        <div class="col">
                          <div class="slip-info full m-b">
                            <div class="slip-key">
                              Total Dispute Amt.:
                            </div>
                            <div class="slip-value grow">
                              {{led_details?.dispute_sum}}/-
                            </div>
                          </div>
                        </div>

                      </div>

                      <!-- <div class="row m-t">
                        <div class="col">
                          <mat-accordion class="headers-align">
                            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Cash Domination
                                </mat-panel-title>
                                <mat-panel-description>
                                  ₹
                                </mat-panel-description>
                              </mat-expansion-panel-header>

                              <mat-form-field>
                                <input matInput placeholder="First name">
                              </mat-form-field>

                              <mat-form-field>
                                <input matInput type="number" min="1" placeholder="Age">
                              </mat-form-field>

                              <mat-action-row>
                                <button mat-button color="primary" (click)="nextStep()">Next</button>
                              </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Cheque Domination
                                </mat-panel-title>
                                <mat-panel-description>
                                  <mat-icon>credit_card</mat-icon>
                                </mat-panel-description>
                              </mat-expansion-panel-header>

                              <mat-form-field>
                                <input matInput placeholder="Country">
                              </mat-form-field>

                              <mat-action-row>
                                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                <button mat-button color="primary" (click)="nextStep()">Next</button>
                              </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Card Dinomination
                                </mat-panel-title>
                                <mat-panel-description>
                                  <mat-icon>credit_card</mat-icon>
                                </mat-panel-description>
                              </mat-expansion-panel-header>

                              <mat-form-field>
                                <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()"
                                  readonly>
                              </mat-form-field>
                              <mat-datepicker #picker></mat-datepicker>

                              <mat-action-row>
                                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                <button mat-button color="primary" (click)="nextStep()">End</button>
                              </mat-action-row>
                            </mat-expansion-panel>

                          </mat-accordion>
                        </div>
                      </div> -->
                    </div>
                    <!-- ----Cash Denomination Summary--- -->
                    <div class="row">
                      <div class="col">
                        <div class="slip-info full m-b">
                          <div class="slip-key">
                            Cash Denomination Summary
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col">
                      <button mat-raised-button (click)="oncashPrint()" class="cta">Print</button>
                    </div> -->
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="slip-info full m-b">
                          <div class="grow dino-grow">
                            <table class="dino-table" border="1" cellpadding="0" cellspacing="0">
                              <thead>
                                <tr style="background-color: lightgrey">
                                  <th>Denomination</th>
                                  <th>Notes Count</th>
                                  <th>Amount</th>
                                </tr>
                                <tr class="a-r">
                                  <td> 2000/-</td>
                                  <td>{{freezedLD?.rs_2000}}</td>
                                  <td>Rs.{{2000*freezedLD?.rs_2000}}/-</td>
                                </tr>
                                <tr class="a-r">
                                  <td> 500/-</td>
                                  <td>{{freezedLD?.rs_500}}</td>
                                  <td>Rs.{{500*freezedLD?.rs_500}}/-</td>
                                </tr>
                                <tr class="a-r">
                                  <td> 200/-</td>
                                  <td>{{freezedLD?.rs_200}}</td>
                                  <td>Rs.{{200*freezedLD?.rs_200}}/-</td>
                                </tr>
                                <tr class="a-r">
                                  <td> 100/-</td>
                                  <td>{{freezedLD?.rs_100}}</td>
                                  <td>Rs.{{100*freezedLD?.rs_100}}/-</td>
                                </tr>
                                <tr class="a-r">
                                  <td> 50/-</td>
                                  <td>{{freezedLD?.rs_50}}</td>
                                  <td>Rs.{{50*freezedLD?.rs_50}}/-</td>
                                </tr>
                                <tr class="a-r">
                                  <td> 20/-</td>
                                  <td>{{freezedLD?.rs_20}}</td>
                                  <td>Rs.{{20*freezedLD?.rs_20}}/-</td>
                                </tr>
                                <tr class="a-r">
                                  <td>10/-</td>
                                  <td>{{freezedLD?.rs_10}}</td>
                                  <td>Rs.{{10*freezedLD?.rs_10}}/-</td>
                                </tr>
                                <tr class="a-r">
                                  <td>5/-</td>
                                  <td>{{freezedLD?.rs_5}}</td>
                                  <td>Rs.{{5*freezedLD?.rs_5}}/-</td>
                                </tr>
                                <tr class="a-r">
                                  <td>2/-</td>
                                  <td>{{freezedLD?.rs_2}}</td>
                                  <td>Rs.{{2*freezedLD?.rs_2}}/-</td>
                                </tr>
                                <tr class="a-r">
                                  <td>1/-</td>
                                  <td>{{freezedLD?.rs_1}}</td>
                                  <td>Rs.{{1*freezedLD?.rs_1}}/-</td>
                                </tr>
                                <tr>
                                  <th colspan="2" style="background-color: lightgrey">Total Amount</th>
                                  <td style="background-color: lightgrey">
                                    <b>Rs.{{led_details?.cash_sum}}/-</b>
                                  </td>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- ----Cheque Denomination Summary---- -->
                    <div class="row">
                      <div class="col">
                        <div class="slip-info full m-b">
                          <div class="slip-key">
                            Cheque Summary
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col">
                      <button mat-raised-button (click)="onchequePrint()" class="cta">Print</button>
                    </div> -->
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="slip-info full m-b">
                          <div class="grow dino-grow">
                            <table class="dino-table" border="1" cellpadding="0" cellspacing="0" width="100%">
                              <thead>
                                <tr>
                                  <th>S.No</th>
                                  <th>Cheque No.</th>
                                  <th>Bank Name</th>
                                  <th>Cheque Date</th>
                                  <th>Amount</th>
                                  <th>Payment Date</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let element of led_details?.chequeDtls; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{element?.cheque_num}}</td>
                                  <td>{{element?.bank_name}}</td>
                                  <td>{{element?.cheq_due_date | date}}</td>
                                  <td>{{element?.paid_amount}}/-</td>
                                  <td>{{element?.inserted_date | date}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- ----Card Summary---- -->
                    <div class="row">
                      <div class="col">
                        <div class="slip-info full m-b">
                          <div class="slip-key">
                            Card Summary
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col">
       <button mat-raised-button (click)="onchequePrint()" class="cta">Print</button>
     </div> -->
                    </div>
                    <table class="dino-table" border="1" cellpadding="0" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Pos ID</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let element of led_details?.cardDtls; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{element?.pos_num}}</td>
                          <td>{{element?.paid_amount}}/-</td>
                        </tr>
                      </tbody>
                    </table>


                  </div>
                </mat-tab>


              </mat-tab-group>
            </div>

          </div>

          <div class="block-body" *ngIf="view_tnx">

            <div class="row dns-head">
              <button mat-raised-button (click)="onPrint()" class="cta">Print</button>
              <button mat-raised-button (click)="backSingle()" class="cta">Back</button>
            </div>

            <div class="dns-body watermark">
              <div class="row dns-head">
                <div class="col">
                  <div class="logo logo-small">
                    <img src="/esuvidha.png" alt="">
                  </div>
                </div>
                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-value grow" style="border: 0;">
                      {{tnx_data?.centre_name}}
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="com-logo">
                    <img src="/mvvnl.jpg" alt="" />
                  </div>
                </div>
              </div>
              <div class="dns-body">
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Payment Receipt ( <i style="color:orange;">Consumer copy</i> )
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="slip-info">
                      <div class="slip-key">
                        Date:
                      </div>
                      <div class="slip-value">
                        {{getReceiptDate()}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Transaction No.:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.tnx_uid}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Counter Name/No.:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.counter_no}} - {{counter_no}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Account ID:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.con_acct_id}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Consumer Name:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.consumer_name}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col" *ngIf="tnx_data?.rpdrp_nonrpdrp == 'HCL'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Address:
                      </div>
                      <div class="slip-value grow">
                        {{getAddress()}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Bill Amount:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.bill_amt}}/-
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Total Amount Received:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.paid_amt}}/-
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Total Amount Received (in words):
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.amtInWords}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Collection Date:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.inserted_date | date}}
                      </div>
                    </div>
                  </div>

                  <div class="col"
                    *ngIf="tnx_data?.tnx_status_name != 'CANCELLED' && tnx_data?.tnx_status_name != 'INITIATED' && tnx_data?.tnx_status_name != 'BILL GENERATED' ">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Mode of Payment:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.payment_mode}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b" *ngIf="tnx_data?.payment_mode == 'CARD'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Card Type:
                      </div>
                      <div class="slip-value grow" *ngIf="tnx_data?.card_type == 'DC'">
                        Debit Card
                      </div>
                      <div class="slip-value grow" *ngIf="tnx_data?.card_type == 'CC'">
                        Credit Card
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        POS #:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.pos_num}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b" *ngIf="tnx_data?.payment_mode == 'CHEQUE' || tnx_data?.payment_mode == 'DD'">
                  <div class="col" *ngIf="tnx_data?.mode_type == 'CHEQUE'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Cheque No.:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.cheque_num}}
                      </div>
                    </div>
                  </div>

                  <div class="col" *ngIf="tnx_data?.mode_type == 'DD'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        DD No.:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.cheque_num}}
                      </div>
                    </div>
                  </div>

                  <div class="col" *ngIf="tnx_data?.mode_type == 'CHEQUE'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Cheque Date:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.cheq_due_date | date}}
                      </div>
                    </div>
                  </div>

                  <div class="col" *ngIf="tnx_data?.mode_type == 'DD'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        DD Date:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.cheq_due_date | date}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b" *ngIf="tnx_data?.payment_mode == 'CHEQUE' || tnx_data?.payment_mode == 'DD'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Bank Name:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.bank_name}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Payment Received By (Name):
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.fname}} {{tnx_data?.mname}} {{tnx_data?.lname}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Payment Received By (ID):
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.username}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t m-b">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Receipt Printed By (Name):
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.fname}} {{tnx_data?.mname}} {{tnx_data?.lname}} - {{tnx_data?.username}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Receipt Printed On:
                      </div>
                      <div class="slip-value grow">
                        {{getReceiptDate()}}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Transaction Status:
                      </div>
                      <div class="slip-value grow"
                        *ngIf="tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                        SUCCESS
                      </div>
                      <div class="slip-value grow"
                        *ngIf="tnx_data?.tnx_status_name == 'DISPUTE RAISED' || tnx_data?.tnx_status_name == 'DISPUTE CLOSED'">
                        DISPUTED
                      </div>
                      <div class="slip-value grow"
                        *ngIf="tnx_data?.tnx_status_name == 'INITIATED' || tnx_data?.tnx_status_name == 'BILL GENERATED'">
                        PENDING
                      </div>
                      <div class="slip-value grow" *ngIf="tnx_data?.tnx_status_name == 'CANCELLED'">
                        CANCELLED
                      </div>
                    </div>
                  </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="row m-t m-b"
                  *ngIf="tnx_data?.rpdrp_nonrpdrp == 'HCL' && tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                      </div>
                      <div class="slip-value">
                        For MVVNL Use Only:-
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-t m-b">
                  <div class="col"
                    *ngIf="tnx_data?.rpdrp_nonrpdrp == 'HCL' && tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        TPSL ID:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.tpsl_id}}
                      </div>
                    </div>
                  </div>
                  <div class="col"
                    *ngIf="tnx_data?.rpdrp_nonrpdrp == 'HCL' && tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        UPPCL ID:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.uppcl_id}}
                      </div>
                    </div>
                  </div>
                  <div class="col"
                    *ngIf="tnx_data?.rpdrp_nonrpdrp == 'FG' && tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Posting ID:
                      </div>
                      <div class="slip-value grow">
                        {{tnx_data?.posting_id}}
                      </div>
                    </div>
                  </div>
                  <div class="col"
                    *ngIf="tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Time:
                      </div>
                      <div class="slip-value grow">
                        {{getReceiptTime()}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- old data -->
              <!-- <div class="row m-b-h">
                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Counter Name/No.:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.counter_no}} - {{counter_no}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row m-t m-b">
                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Transaction No:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.tnx_uid}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row m-t m-b">
                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Service Name:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.service_name}}
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Transaction Status:
                    </div>
                    <div class="slip-value grow"
                      *ngIf="tnx_data?.tnx_status_name == 'PAYMENT INITIATED' || tnx_data?.tnx_status_name == 'RETRY'">
                      SUCCESS
                    </div>
                    <div class="slip-value grow"
                      *ngIf="tnx_data?.tnx_status_name == 'DISPUTE RAISED' || tnx_data?.tnx_status_name == 'DISPUTE CLOSED'">
                      DISPUTED
                    </div>
                    <div class="slip-value grow"
                      *ngIf="tnx_data?.tnx_status_name == 'INITIATED' || tnx_data?.tnx_status_name == 'BILL GENERATED'">
                      PENDING
                    </div>
                    <div class="slip-value grow" *ngIf="tnx_data?.tnx_status_name == 'CANCELLED'">
                      CANCELLED
                    </div>
                  </div>
                </div>
              </div>

              <div class="row m-t m-b">
                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Payment Received By:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.fname}} {{tnx_data?.mname}} {{tnx_data?.lname}}
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Payment Received By (ID):
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.username}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row m-t m-b">
                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Account ID:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.con_acct_id}}
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Consumer Name:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.consumer_name}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row m-t m-b">
                <div class="col" *ngIf="receiptData?.provider == 'HCL'">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Contact Number:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.con_contact_num}}
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Bill Amount:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.bill_amt}}/-
                    </div>
                  </div>
                </div>
              </div>

              <div class="row m-t m-b" *ngIf="tnx_data?.bill_due_date != 'Invalid Date'">
                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Bill Due Date:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.bill_due_date | date}}
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Collection Date:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.inserted_date | date}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row m-t m-b">
                <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Total Amount Received:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.paid_amt}}/-
                    </div>
                  </div>
                </div> -->

              <!-- <div class="col">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Total Amount Received(in words):
                    </div>
                    <div class="slip-value grow">
                        {{tnx_data?.in_words}}
                    </div>
                  </div>
                </div> -->
              <!-- <div class="col" *ngIf="tnx_data?.tnx_status_name != 'CANCELLED' && tnx_data?.tnx_status_name != 'INITIATED' && tnx_data?.tnx_status_name != 'BILL GENERATED' ">
                  <div class="slip-info full">
                    <div class="slip-key">
                      Mode of Payment:
                    </div>
                    <div class="slip-value grow">
                      {{tnx_data?.payment_mode}}
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>