@media print {
    * {
        color:  #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        margin-top: 0px !important;
        padding-top:0px !important;
        font:10pt "Tahoma" !important;
        margin: 0.5px !important;

    }
}
