<h1 mat-dialog-title>Dispute Details</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <div class="row" style="padding: 6px !important">
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Transaction UID</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">&nbsp;{{data.tnx_uid}}</span>
    </div>
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Consumer ID</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">&nbsp;{{data.consumer_acct}}</span>
    </div>
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Consumer Phone No.</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">&nbsp;{{data.consumer_ph}}</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row" style="padding: 6px !important">
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Bill Amount</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">Rs.&nbsp;{{data.bill_amt}}</span>
    </div>
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Paid Amount</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">Rs.&nbsp;{{data.paid_amt}}</span>
    </div>
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Payment Mode</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.payment_mode}}</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- <div class="row" style="padding: 6px !important" *ngIf="data?.payment_mode == 'CASH'">
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Received Amount</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.received_amount}}</span>
    </div>
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Paid Amount</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.paid_amount}}</span>
    </div>
    <div class="col">
        <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Returned Amount</label>
        <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.return_amount}}</span>
    </div>
  </div> -->

  <div class="row" style="padding: 6px !important" *ngIf="data?.payment_mode == 'CARD'">
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Card Type</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;" *ngIf="data?.card_type == 'CC'"> Credit Card </span>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;" *ngIf="data?.card_type == 'DD'"> Debit Card </span>
    </div>
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">POS #</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.pos_num}}</span>
    </div>
    <div class="col"></div>
  </div>

  <div class="row" style="padding: 6px !important" *ngIf="data?.mode_type == 'CHEQUE'">
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Cheque #</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.cheque_num}}</span>
    </div>
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Bank Name</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.bank_name}}</span>
    </div>
    <div class="col">
        <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Cheque Due Date</label>
        <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.cheq_due_date | date}}</span>
    </div>
  </div>

  <div class="row" style="padding: 6px !important" *ngIf="data?.mode_type == 'RTGS'">
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">RTGS #</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.rtgs_num}}</span>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

  <div class="row" style="padding: 6px !important" *ngIf="data?.mode_type == 'NEFT'">
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">NEFT #</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.neft_num}}</span>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

  <mat-divider></mat-divider>

  <div class="row" style="padding: 6px !important">
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Dispute Created By</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">{{data.assigned_to}}</span>
    </div>
    <div class="col">
      <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Transaction Status</label>
      <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;" *ngIf="data?.txn_status_name == 'PAYMENT INITIATED' || data?.txn_status_name == 'BILL GENERATED'">Success</span>
    </div>
    <div class="col">
        <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Transaction Date</label>
        <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">
          {{data.created_on | date}}</span>
    </div>
  </div>

  <mat-divider></mat-divider>
  
  <form [formGroup]="raiseDispute" (ngSubmit)="onClick()">
    <div class="row" style="padding: 8px !important">
      <div class="col">
        <mat-form-field appearance="outline" style="width: 300px;">
          <mat-label>Remarks</mat-label>
          <textarea formControlName="remarks" matInput placeholder="Remarks" type="text"></textarea>
          <mat-hint *ngIf="submitted && f.remarks.errors">
            <div *ngIf="f.remarks.errors.required">Remarks are required</div>
          </mat-hint>
        </mat-form-field>
      </div>
      <!-- <div class="col">
        <mat-form-field appearance="outline" style="width: 300px;">
          <mat-label>Return Mode</mat-label>
          <mat-select style="height: 24px;" placeholder="Return Mode" formControlName="return_mode">
            <mat-option value="" disabled>--- select ---</mat-option>
            <mat-option value="CASH">CASH</mat-option>
            <mat-option value="CARD">POS</mat-option>
            <mat-option value="CHEQUE">CHEQUE</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col" *ngIf="_return == 'CASH'">
          <label style="padding: 0.4rem; font-weight: 500; font-size: 1.2em; color: rgb(26, 70, 70);">Refund Amount</label>
          <span style="padding: 0.4rem; font-weight: 500; font-size: 1.4em; color: rgb(13, 30, 61); margin: 0 0 0.4rem 0;">Rs. {{data.paid_amt}}</span>
      </div>
      <div class="col" *ngIf="_return == 'CARD'">
        <mat-form-field appearance="outline" style="width: 300px;">
          <mat-label>POS ID</mat-label>
          <input formControlName="POS" matInput placeholder="POS#" type="number"/>
        </mat-form-field>
      </div>
      <div class="col" *ngIf="_return == 'CHEQUE'">
        <mat-form-field appearance="outline" style="width: 300px;">
          <mat-label>Cheque No.</mat-label>
          <input formControlName="cheque_no" matInput placeholder="Cheque No." type="text" maxlength="6" value="{{data.cheque_num}}" disabled='true'>
        </mat-form-field>
      </div> -->
    </div>

    <mat-divider></mat-divider>

    <div class="row" style="padding: 8px !important">
      <div class="col"></div>
      <div class="col">
          <button mat-raised-button type="submit" style="background: #FC891F; color: #ffffff; position: relative; float: right;">Submit</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="onNoClick()" mat-raised-button cdkFocusInitial style="float:right;">Close</button>
      </div>
    </div>
  </form>
</div>