<div class="container">
  <div class="content-wrap">
    <section>
      <div class="block">
        <div class="block-header">
          <div class="title">
            All Freezed Ledgers
          </div>
        </div>

        <div class="block-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="row-border hover full-width make-table-look-sexy" style="width:100%"
                *ngIf="TransactionsData?.length >= 1">
                <thead>
                  <tr>
                    <th class="f-value">Ledger Uid</th>
                    <th class="f-value">Total Transaction</th>
                    <th class="f-value">Cash Count</th>
                    <th class="f-value">Cash Amount</th>
                    <th class="f-value">Card Count</th>
                    <th class="f-value">Card Amount</th>
                    <th class="f-value">Cheque Count</th>
                    <th class="f-value">Cheque Amount</th>
                    <th class="f-value">Dispute Count</th>
                    <th class="f-value">Dispute Amount</th>
                    <th class="f-value">Freezed On</th>
                    <th class="f-value">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of TransactionsData">
                    <td class="f-name">{{element?.ledger_uid}}</td>
                    <td class="f-name">{{element?.total_transaction}}</td>
                    <td class="f-name">{{element?.cash_cnt}}</td>
                    <td class="f-name">{{element?.cash_amt}}/-</td>
                    <td class="f-name">{{element?.card_cnt}}</td>
                    <td class="f-name">{{element?.card_amt}}/-</td>
                    <td class="f-name">{{element?.cheq_cnt}}</td>
                    <td class="f-name">{{element?.cheque_amt}}/-</td>
                    <td class="f-name">{{element?.dispute_cnt}}</td>
                    <td class="f-name">{{element?.dispute_amt}}/-</td>
                    <td class="f-name">{{element?.created_on}}</td>
                    
                    <td>
                      <button class="btn btn-table" color = "primary" mat-raised-button (click)="openTransactions(element.ledger_uid, element.created_on)">
                        <!-- <i class="material-icons">
                          remove_red_eye
                        </i> -->
                        View
                      </button>
                      <!-- <button class="btn" mat-raised-button (click)="openDisputeDialog(element)">
                        <mat-icon svgIcon="dispute"></mat-icon>
                      </button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
          <!-- <div class="table-wrap" *ngIf="ELEMENT_DATA.length > 0"> -->
            <!--Filter-->
            <!-- <mat-form-field class="filter">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search LedgerUID, Date, etc.">
            </mat-form-field> -->

            <!-- <table mat-table [dataSource]="dataSource" matSort> -->
              <!-- LedgerUID Column -->
              <!-- <ng-container matColumnDef="ledger_uid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ledger UID </th>
                <td mat-cell *matCellDef="let element"> {{element.ledger_uid}} </td>
              </ng-container> -->

              <!-- CreatedOn Column -->
              <!-- <ng-container matColumnDef="created_on">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
                <td mat-cell *matCellDef="let element"> {{element.created_on}} </td>
              </ng-container> -->

              <!-- Transaction Count Column -->
              <!-- <ng-container matColumnDef="total_transaction">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Number<br> of Transactions </th>
                    <td mat-cell *matCellDef="let element"> {{element.total_transaction}} </td>
                  </ng-container> -->

              <!-- Cash Column -->
              <!-- <ng-container matColumnDef="cash">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Received Amount<br>(Cash/Count)
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="with-icon">
                    {{element.cash}}
                  </div>
                </td>
              </ng-container> -->

              <!-- Cheque Column -->
              <!-- <ng-container matColumnDef="cheque">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Received Amount<br>(Cheque/Count)
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="with-icon">
                    {{element.cheque}}
                  </div>
                </td>
              </ng-container> -->

              <!-- Card Column -->
              <!-- <ng-container matColumnDef="card">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Received Amount<br>(Card/Count)
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="with-icon">
                    {{element.card}}
                  </div>
                </td>
              </ng-container> -->

              <!-- Status Column -->
              <!-- <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element">
                  <div class="with-icon">
                    <mat-icon class="table-icons statusLogo" svgIcon={{element.status}}></mat-icon>
                    {{element.status}}
                  </div>
                </td>
              </ng-container> -->

              <!--View Transactions-->
              <!-- <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef>Details</th>
                <td mat-cell *matCellDef="let element">
                  <a mat-button color="primary" (click)="openTransactions(element.ledger_uid, element.created_on)">View Details</a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator> -->
          <!-- </div> -->

          <div *ngIf="TransactionsData.length === 0">
            Fetching Data...
          </div>

        </div>
      </div>

    </section>
  </div>
</div>
