
.container1 {
  width: 100%;
  padding: 4rem;
}

.container1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4rem 4rem 0 4rem;

  .ledger-info-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .profileLogo{
      width: 76px;
      height: 76px;
    }

    .profileStatus{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h2{
        margin-left: 1.4rem;
        font-size: 1.8em;
        font-weight: 300;
      }

      p{
        margin: 0.4rem 1.4rem;
        font-size: 0.9em;
        font-weight: 400;
      }
    }
  }
}

.filter {
  width: 100%;
  align-items: center;
}

.mat-table{
  width: 100%;
}

input{
  padding: 0.4rem 0;
  font-size: 1.4em;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0

}

.headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center
}

mat-form-field {
  margin-right: 12px 
}