<div class="container">

  <div class="content-wrap">
    <section>
      <div class="row">
        <div class="col">
          <div class="block">
            <div class="block-header">
              <div class="title">
                <div class="row dns-head">
                  <div class="logo">
                    <img src="/logo.svg" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="block-body">

              <div class="dns-body">
                <div class="row">
                  <div class="col">
                    <div class="slip-info cta m-b">
                      <div class="slip-key">
                        Date:
                      </div>
                      <div class="slip-value">
                        {{current_date | date}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="!disable_freeze">
                  <div class="col">

                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        Agent Name:
                      </div>
                      <div class="slip-value grow">
                        {{fullname}}
                      </div>
                    </div>

                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        Centre:
                      </div>
                      <div class="slip-value grow">
                        {{centre_name}} - {{centre_code}}
                      </div>
                    </div>

                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        Counter No.:
                      </div>
                      <div class="slip-value grow">
                        {{counter_name}} - {{counter_no}}
                      </div>
                    </div>

                  </div>
                  <div class="col">

                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        Ledger UID:
                      </div>
                      <div class="slip-value grow">
                        {{closedLD_id.ledger_uid}}
                      </div>
                    </div>

                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        No. of Transactions:
                      </div>
                      <div class="slip-value grow">
                        {{closedLD?.total_tnx}}
                      </div>
                    </div>

                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        No. of Services:
                      </div>
                      <div class="slip-value grow">
                        1
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row" *ngIf="!disable_freeze">

                  <div class="col">
                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        Total Cash Amt.:
                      </div>
                      <div class="slip-value grow">
                        ₹{{closedLD?.cash_sum}}/-
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        Total Cheque Amt.:
                      </div>
                      <div class="slip-value grow">
                        ₹{{closedLD?.cheque_sum}}/-
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        Total POS Amt.:
                      </div>
                      <div class="slip-value grow">
                        ₹{{closedLD?.card_sum}}/-
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row" *ngIf="!disable_freeze">

                  <div class="col">
                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        Total Disputed Amt.:
                      </div>
                      <div class="slip-value grow">
                        ₹{{closedLD?.dispute_sum}}/-
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full m-b">
                      <div class="slip-key">
                        Total Collected Amt.:
                      </div>
                      <div class="slip-value grow">
                        ₹{{closedLD?.total_sum}}/-
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row m-t" *ngIf="disallow_freeze">
                  <div class="col">
                    <span style="font-size: 2em;"> Ledger not ready to be freezed!</span>
                  </div>
                </div>

                <div class="row m-t" *ngIf="disable_freeze">
                  <div class="col">
                    <span style="font-size: 2em;"> Ledger already freezed!</span>
                  </div>
                </div>

                <div class="row m-t" *ngIf="disable_freeze == false && disallow_freeze == false">
                  <div class="col">
                    <mat-accordion class="headers-align">
                      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Cash Denomination Details
                          </mat-panel-title>
                          <mat-panel-description *ngIf="closedLD?.cash_sum != denomination_sum" class="red">
                            Total sum:
                            ₹{{denomination_sum}}
                          </mat-panel-description>
                          <mat-panel-description *ngIf="closedLD?.cash_sum == denomination_sum" class="blue">
                            Total sum:
                            ₹{{denomination_sum}}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="col">
                          <label style="padding-left: 49px;"><strong>Denomination</strong></label>
                          <label style="padding-left: 118px;"><strong>Number of Notes</strong></label>
                          <label style="padding-left: 140px;"><strong>Amount</strong></label>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="₹2000/-" disabled style="font-weight: bold">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_2000" placeholder="Count of ₹2000/-"
                              (input)="calc_denomination()">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(2000*rs_2000) || '0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="Rs.500/-" disabled style="font-weight: bold">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_500" placeholder="Count of Rs.500/-"
                              (input)="calc_denomination()">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(500*rs_500) || '0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="Rs.200/-" disabled style="font-weight: bold">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_200" placeholder="Count of Rs.200/-"
                              (input)="calc_denomination()">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(200*rs_200) || '0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="Rs.100/-" disabled style="font-weight: bold">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_100" placeholder="Count of Rs.100/-"
                              (input)="calc_denomination()">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(100*rs_100) || '0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="Rs.50/-" disabled style="font-weight: bold">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_50" placeholder="Count of Rs.50/-"
                              (input)="calc_denomination()">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(50*rs_50) || '0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="Rs.20/-" disabled style="font-weight: bold">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_20" placeholder="Count of Rs.20/-"
                              (input)="calc_denomination()">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(20*rs_20) || '0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="Rs.10/-" disabled style="font-weight: bold">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_10" placeholder="Count of Rs.10/-"
                              (input)="calc_denomination()">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(10*rs_10) || '0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="Rs.5/-" disabled style="font-weight: bold">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_5" placeholder="Count of Rs.5/-"
                              (input)="calc_denomination()">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(5*rs_5) ||'0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="Rs.2/-" disabled style="font-weight: bold">
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_2" placeholder="Count of Rs.2/-"
                              (input)="calc_denomination()">
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(2*rs_2) ||'0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field appearance="outline">
                            <input matInput value="Rs.1/-" disabled style="font-weight: bold">
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="rs_1" placeholder="Count of Rs.1/-"
                              (input)="calc_denomination()">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <input matInput value="₹{{(1*rs_1)||'0'}}/-" disabled
                              style="font-weight: bold;color: orange">
                          </mat-form-field>
                        </div>
                        <mat-action-row>
                          <p *ngIf="closedLD?.cash_sum != denomination_sum" class="red">
                            <span>Total Expected Amount: ₹{{closedLD?.cash_sum}}</span>
                            <span>Total Denomination Sum: ₹{{denomination_sum}}</span>
                          </p>
                          <p *ngIf="closedLD?.cash_sum == denomination_sum" class="green">
                            <span>Total Expected Amount: ₹{{closedLD?.cash_sum}}</span>&nbsp;&nbsp;
                            &nbsp; <span>Total Denomination Sum: ₹{{denomination_sum}}</span>
                          </p>

                          <button mat-button color="primary" (click)="freezeLedger()"
                            *ngIf="!disable_freeze">Freeze</button>
                        </mat-action-row>
                      </mat-expansion-panel>

                      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Cheque Denomination Detail
                          </mat-panel-title>
                          <mat-panel-description>
                            <mat-icon>credit_card</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <table class="dino-table" border="1">
                          <thead>
                            <tr style="background-color: lightgrey">
                              <th>S.No</th>
                              <th>Cheque No.</th>
                              <th>Bank Name</th>
                              <th>Cheque Date</th>
                              <th>Amount</th>
                              <th>Payment Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let element of closedLD?.chequeDtls; let i = index">
                              <td>{{i+1}}</td>
                              <td>{{element?.cheque_num}}</td>
                              <td>{{element?.bank_name}}</td>
                              <td>{{element?.cheq_due_date | date}}</td>
                              <td>{{element?.paid_amount}}</td>
                              <td>{{element?.inserted_date | date}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>

                      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Card Dinomination Detail
                          </mat-panel-title>
                          <mat-panel-description>
                            <mat-icon>credit_card</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <table class="dino-table" border="1">
                          <thead>
                            <tr style="background-color: lightgrey">
                              <th>S.No</th>
                              <th>Pos ID</th>
                              <th>Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let element of closedLD?.cardDtls; let i = index">
                              <td>{{i+1}}</td>
                              <td>{{element?.pos_num}}</td>
                              <td>{{element?.paid_amount}}</td>
                            </tr>
                          </tbody>
                        </table>


                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>
