<div class="container">
    <div class="content-wrap">
      <div class="row">
        <div class="col">
          <div class="block">
            <div class="block-header">
              <div class="btn-wrap">
                <button mat-raised-button color="primary"
                  *ngIf="opened_ledgerData?.led_status_name == 'FREEZED' || opened_ledgerData?.length == 0 || opened_ledgerData == null"
                  (click)="createNewLedger()">Create Ledger</button>
                <button mat-button mat-raised-button color="primary" *ngIf="opened_ledgerData?.led_status_name == 'OPEN'"
                  (click)="createNewTransaction()">New Transaction</button>
                <button mat-button color="secondary" *ngIf="opened_ledgerData?.led_status_name == 'OPEN'" class="m-l warning-color"
                  (click)="closeLedger()">Close Ledger</button>
  
                  <button mat-button class="warning-color" *ngIf="opened_ledgerData?.led_status_name == 'CLOSED'" (click)="freezeLedger()">Settle your ledger</button>
              </div>
  
              <div class=" cta">
                <span *ngIf="opened_ledgerData != null">
                  {{opened_ledgerData?.ledger_uid}} : {{opened_ledgerData?.led_status_name}}
                </span>
                <span *ngIf="opened_ledgerData?.length == 0 || opened_ledgerData == null">
                  No Opened Ledgers!
                </span>
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <div class="block m-t">
              <div class="block-body">
                  <div class="row">
                      <div class="col att-col">
            
                        <div class="block">
                          <div class="block-header">
                            <div class="title">
                              Attendance
                            </div>
                          </div>
            
                          <div class="block-body">
            
                            <ul class="att-details">
                              <li class="att-detail">
                                <div class="icon">
                                  <i class="material-icons">
                                    calendar_today
                                  </i>
                                </div>
                                <div class="detail">
                                  <div class="value">
                                    {{currentTime().getDate()}}/{{currentTime().getMonth()+1}}/{{currentTime().getFullYear()}}
                                  </div>
                                  <div class="name">
                                    Date
                                  </div>
                                </div>
                              </li>
            
                              <li class="att-detail">
                                <div class="icon">
                                  <i class="material-icons">
                                    person
                                  </i>
                                </div>
                                <div class="detail">
                                  <div class="value green">
                                    {{showAttendance().days}} Days
                                  </div>
                                  <div class="name">
                                    Attendance
                                  </div>
                                </div>
                              </li>
            
                              <li class="att-detail">
                                <div class="icon">
                                  <i class="material-icons">
                                    access_time
                                  </i>
                                </div>
                                <div class="detail">
                                  <div class="value green">
                                    {{showAttendance().hours}} hr {{showAttendance().min}} min {{showAttendance().sec}}  sec
                                  </div>
                                  <div class="name">
                                    Duration
                                  </div>
                                </div>
                              </li>
                            </ul>
            
                          </div>
                        </div>
            
                      </div>
            
                      <div class="col not-col">
                        <div class="block">
                          <div class="block-header">
                            <div class="title">
                              Notice Board
                            </div>
            
                            <a href="#" class="cta">
                              View all
                            </a>
                          </div>
            
                          <div class="block-body">
                            <div class="notices">
                              Coming soon !!
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <div class="row">
                      <div class="col m-t">
                        <div class="block">
                          <div class="block-header">
                            <div class="title">
                              Pending Complaint
                            </div>
            
                            <a href="#" class="cta">
                              View all
                            </a>
                          </div>
            
                          <div class="block-body">
                            <div class="notices">
                              EMPTY
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  