.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  width: 380px;
  min-width: 380px;      
  padding: 2rem;
  border-radius: 12px;
  border: 2px solid #C1C7D0;
}

.logo{
  text-align: center;
  color: #344563;
}

.logo .title{
  font-size: 24px;
  padding-bottom: 1rem;
}

.content{
  font-size: 14px;
  color: #505F79;
}

.form-wrap{
  width: 100%;
}

.input-wrap{
  display: flex;
  justify-content: stretch;
  align-items: center;
  align-content: stretch;
  margin-bottom: 1.4rem;
}
  
mat-form-field{
  width: 100%;
}


.submit-wrap{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 1.4rem;
}

.submit-wrap .cancel{
  background: #ffffff;
  color: #5E6C84;
  margin-right: 15px;
}
.submit-wrap .next{
  background: #FC891F;
  color: #ffffff;
}