<div class="container">
    <div class="content-wrap">
  
      <div class="block">
        <div class="block-header">
          <div class="title">
            New Transaction 
          </div>

          <span class="cta" *ngIf="enable_edit">
            Please confirm the transaction details
          </span>
        </div>
  
        <div class="block-body" *ngIf="!content_hide">
          <form [formGroup]="newTransactionForm" (ngSubmit)="submit()">
  
            <div class="row">
              <div class="col">
                <p class="content">
                  Enter Consumer Account ID
                </p>
                <!-- <div
                  *ngIf="submitted && (f.consumer_id.errors || f.bill_type.errors|| f.region.errors|| f.mobile_number.errors)">
                  <div>Invalid Details</div>
                </div> -->
  
                <div class="input-wrap">
                  <mat-form-field appearance="outline">
                    <mat-label>Consumer Account ID</mat-label>
                    <input formControlName="consumer_id" matInput placeholder="Kunkum001">
                    <mat-error *ngIf="submitted && f.consumer_id.hasError">
                      <div *ngIf="f.consumer_id.hasError('required')">Consumer ID is required</div>
                      <div *ngIf="!f.consumer_id.hasError('required')">Invalid Consumer ID</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-icon (click)="AcctID()" class="enable-edit" *ngIf="enable_edit">edit</mat-icon>
                </div>
              </div>
  
              <div class="col">
                <p class="content">
                  Enter your Contact Number
                </p>
                <!-- <div
                  *ngIf="submitted && (f.consumer_id.errors || f.bill_type.errors|| f.region.errors|| f.mobile_number.errors)">
                  <div>Invalid Details</div>
                </div> -->
  
                <div class="input-wrap">
                  <mat-form-field appearance="outline" matTooltip="Not required: +91 or 0">
                    <mat-label>Contact Number (only 10 digits allowed)</mat-label>
                    <input formControlName="mobile_number" type="text" matInput placeholder="Enter Contact Number">
                    <mat-error *ngIf="submitted && f.mobile_number.hasError">  
                      <div *ngIf="f.mobile_number.hasError('required')">Contact Number is required</div>
                      <div *ngIf="!f.mobile_number.hasError('required')">Contact Number is invalid</div>
                    </mat-error>
                  </mat-form-field>
                  <mat-icon (click)="Mobile()" class="enable-edit" *ngIf="enable_edit">edit</mat-icon>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col">
                <p class="content">
                  Enter Bill Type
                </p>
                <!-- <div
                  *ngIf="submitted && (f.consumer_id.errors || f.bill_type.errors|| f.region.errors|| f.mobile_number.errors)">
                  <div>Invalid Details</div>
                </div> -->
  
                <div class="input-wrap">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Bill Type</mat-label>
                    <mat-select formControlName="bill_type">
                      <mat-option *ngFor="let billType of billTypes" [value]="billType.value">
                        {{billType.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.bill_type.hasError">
                      <div *ngIf="f.bill_type.hasError('required')">Bill Type is required</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
  
              <div class="col">
                <p class="content">
                  Enter your Region
                </p>
                <!-- <div
                  *ngIf="submitted && (f.consumer_id.errors || f.bill_type.errors|| f.region.errors|| f.mobile_number.errors)">
                  <div>Invalid Details</div>
                </div> -->
  
                <div class="input-wrap">
                  <mat-form-field appearance="outline">
                    <mat-label>Select Region</mat-label>
                    <mat-select formControlName="region">
                      <mat-option *ngFor="let region of regions" [value]="region.value">
                        {{region.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.region.hasError">
                      <div *ngIf="f.region.hasError('required')">Region is required</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <div class="submit-wrap">
                  <button mat-button class="warning-color m-r" (click)="cancel()">Cancel</button>
                  <button mat-raised-button color="primary" class="p-btn" *ngIf="!enable_edit" (click)="next()">Next</button>
                  <button mat-raised-button *ngIf="enable_edit" class="next p-btn" type="submit">Submit</button>
                </div>
              </div>
            </div>
  
          </form>
        </div>
      </div>
  
    </div>
  </div>
  
  <!--
  <div class="loginCard">
      <form [formGroup]="newTransactionForm" (ngSubmit)="submit()">
  
        <div class="logo">
          <mat-icon class="e-suvidhaLogo" svgIcon="e-suvidha"></mat-icon>
          <div class="title">New Transaction</div>
        </div>
  
        <mat-card-content class="form-wrap">
          <p class="content">
            Enter Consumer Account ID
          </p>
  
          Form Error
          <div
            *ngIf="submitted && (f.consumer_id.errors || f.bill_type.errors|| f.region.errors|| f.mobile_number.errors)">
            <div>Invalid Details</div>
          </div>
  
          Consumer Id
          <div class="input-wrap">
  
            <div class="block">
            </div>
  
            <mat-form-field appearance="outline">
              <mat-label>Consumer ID</mat-label>
              <input formControlName="consumer_id" matInput placeholder="Kunkum001">
              <mat-hint *ngIf="submitted && f.consumer_id.errors">
                <div *ngIf="f.consumer_id.errors.required">Consumer ID is required</div>
              </mat-hint>
            </mat-form-field>
            <mat-icon (click)="AcctID()" *ngIf="enable_edit">home</mat-icon>
          </div>
  
           Bill Type
          <div class="input-wrap">
            <div class="block">
            </div>
  
            <mat-form-field appearance="outline">
              <mat-label>Enter Bill Type</mat-label>
              <mat-select formControlName="bill_type">
                <mat-option *ngFor="let billType of billTypes" [value]="billType.value">
                  {{billType.viewValue}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="submitted && f.bill_type.errors">
                <div *ngIf="f.bill_type.errors.required">Bill Type is required</div>
              </mat-hint>
            </mat-form-field>
  
          </div>
  
          Region
          <div class="input-wrap">
            <div class="block">
  
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Select Region</mat-label>
              <mat-select formControlName="region">
                <mat-option *ngFor="let region of regions" [value]="region.value">
                  {{region.viewValue}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="submitted && f.region.errors">
                <div *ngIf="f.region.errors.required">Region is required</div>
              </mat-hint>
            </mat-form-field>
          </div>
  
          Contact Number
          <div class="input-wrap">
            <div class="block"></div>
            <mat-form-field appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input formControlName="mobile_number" type="number" matInput placeholder="Enter Contact Number">
              <mat-hint *ngIf="submitted && f.mobile_number.errors">
                <div *ngIf="f.mobile_number.errors.required">Mobile Number is required</div>
              </mat-hint>
            </mat-form-field>
            <mat-icon (click)="Mobile()" *ngIf="enable_edit">home</mat-icon>
          </div>
        </mat-card-content>
  
        Submit Buttons
        <div class="submit-wrap">
          <button mat-raised-button (click)="cancel()">Cancel</button>
          <button mat-raised-button *ngIf="!enable_edit" (click)="next()">Next</button>
          <button mat-raised-button *ngIf="enable_edit" class="next" type="submit">Submit</button>
        </div>
  
      </form>
    </div> -->
  