<div class="container-wrap" *ngIf="receiptData">
  <div class="container">
    <div class="content-wrap">
      <section>
        <div class="row">
          <div class="col">
            <div class="block">
              <div class="block-header">
                <div class="title">
                  Payment Slip
                </div>

                <button mat-raised-button (click)="onPrint()" class="cta">Print</button>
              </div>
              <!-- consumer copy -->
              <div class="block-body watermark">

                <div class="row dns-head">
                  <div class="col">
                    <div class="logo logo-small">
                      <img src="/esuvidha.png" alt="">
                    </div>
                  </div>
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-value grow" style="border: 0;">
                        {{centre_name}}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="com-logo">
                      <img src="/mvvnl.jpg" alt="" />
                    </div>
                  </div>
                </div>

                <div class="dns-body">
                  <div class="row m-b-h">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Payment Receipt ( <i style="color:orange;">Consumer copy</i> )
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="slip-info">
                        <div class="slip-key">
                          Date:
                        </div>
                        <div class="slip-value">
                          {{getReceiptDate()}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Transaction No.:
                        </div>
                        <div class="slip-value grow">
                          {{receiptData.tnx_uid}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Counter Name/No.:
                        </div>
                        <div class="slip-value grow">
                          {{counter_name}} - {{counter_no}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Account ID:
                        </div>
                        <div class="slip-value grow">
                          {{receiptData.account_no}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Consumer Name:
                        </div>
                        <div class="slip-value grow">
                          {{receiptData.consumer_name}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col" *ngIf="receiptData?.provider == 'HCL'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Address:
                        </div>
                        <div class="slip-value grow">
                          {{getAddress().addressLine}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Bill Amount:
                        </div>
                        <div class="slip-value grow">
                          {{totalBillAmount}}/-
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Total Amount Received:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.paid_amount}}/-
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Total Amount Received (in words):
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.paid_amount_in_word}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Collection Date:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.inserted_date | date}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Mode of Payment:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.payment_mode}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b" *ngIf="paymentData?.payment_mode == 'CARD'">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Card Type:
                        </div>
                        <div class="slip-value grow" *ngIf="paymentData?.card_type == 'DC'">
                          Debit Card
                        </div>
                        <div class="slip-value grow" *ngIf="paymentData?.card_type == 'CC'">
                          Credit Card
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          POS #:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.pos_num}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b"
                    *ngIf="paymentData?.payment_mode == 'CHEQUE' || paymentData?.payment_mode == 'DD'">
                    <div class="col" *ngIf="paymentData?.mode_type == 'CHEQUE'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Cheque No.:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.cheque_num}}
                        </div>
                      </div>
                    </div>

                    <div class="col" *ngIf="paymentData?.mode_type == 'DD'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          DD No.:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.cheque_num}}
                        </div>
                      </div>
                    </div>

                    <div class="col" *ngIf="paymentData?.mode_type == 'CHEQUE'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Cheque Date:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.cheq_due_date | date}}
                        </div>
                      </div>
                    </div>

                    <div class="col" *ngIf="paymentData?.mode_type == 'DD'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          DD Date:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.cheq_due_date | date}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b"
                    *ngIf="paymentData?.payment_mode == 'CHEQUE' || paymentData?.payment_mode == 'DD'">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Bank Name:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.bank_name}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Payment Received By (Name):
                        </div>
                        <div class="slip-value grow">
                          {{fullName}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Payment Received By (ID):
                        </div>
                        <div class="slip-value grow">
                          {{agent_name}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t m-b">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Receipt Printed By (Name):
                        </div>
                        <div class="slip-value grow">
                          {{fullName}} - {{agent_name}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Receipt Printed On:
                        </div>
                        <div class="slip-value grow">
                          {{current_date | date}}
                        </div>
                      </div>
                    </div>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="row m-t m-b" *ngIf="receiptData?.provider == 'HCL'">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                        </div>
                        <div class="slip-value">
                          For MVVNL Use Only:-
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-t m-b">
                    <div class="col" *ngIf="receiptData?.provider == 'HCL'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          TPSL ID:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.tpsl_id}}
                        </div>
                      </div>
                    </div>
                    <div class="col" *ngIf="receiptData?.provider == 'HCL'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          UPPCL ID:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.uppcl_id}}
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Time:
                        </div>
                        <div class="slip-value grow">
                          {{ getReceiptTime() }}
                        </div>
                      </div>
                    </div>
                    <div class="col" *ngIf="receiptData?.provider == 'FG'">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Posting ID:
                        </div>
                        <div class="slip-value grow">
                          {{paymentData.postingID}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>