 <div class="container">

   <div class="content-wrap">

     <div class="row">
       <div class="col">
         <div class="block">
           <div class="block-header">
             <div class="title">
               <span class="v-value"> Today's Appointment List</span>
             </div>
           </div>

           <div class="row" *ngIf="viewData">
             <div class="col">
               <p *ngIf="sec?.length ==0">No Appointment Today</p>

               <table datatable [dtOptions]="sec" [dtTrigger]="dtTrigger"
                 class="row-border hover full-width make-table-look-sexy m-t" style="width:100%"
                 *ngIf="sec?.length >= 1">
                 <thead>
                   <tr>
                     <th class="f-value">SR.No.</th>
                     <th class="f-value">Appointment ID</th>
                     <th class="f-value">Customer Name</th>
                     <th class="f-value">Contact Number</th>
                     <th class="f-value">From</th>
                     <th class="f-value">To</th>
                     <th class="f-value">Action</th>

                   </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let item of sec; let i = index;">
                     <td class="f-name">{{ i+1 }}</td>
                     <td class="f-name">{{ item.appointment_id }}</td>
                     <td class="f-name">{{ item.consumer_name }}</td>
                     <td class="f-name">{{ item.consumer_phone_no}}</td>
                     <td class="f-name">{{ item.start_time }}</td>
                     <td class="f-name">{{ item.end_time }}</td>
                     <td><button class="btn" mat-raised-button (click)="showDetail(item)">
                         <mat-icon>visibility</mat-icon>
                       </button></td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>


           <div class="block-body" *ngIf="!viewData">
             <div class="row">
               <div class="col">
                 <div class="block">
                   <div class="block-header">
                     <div class="title">
                       Appointment Details
                     </div>
                     <div class="v-name sts">Change Status</div>
                     <mat-slide-toggle class="toggle" (change)="onStatus($event)"></mat-slide-toggle>

                   </div>


                   <div class="row">
                     <div class="col">
                       <p class="v-name">
                         Appointment Id
                       </p>
                       <p class="v-value">
                         {{details?.appointment_id }}
                       </p>
                     </div>

                     <div class="col">
                       <p class="v-name">
                         Consumer Name
                       </p>
                       <p class="v-value">
                         {{details?.consumer_name}}
                       </p>
                     </div>
                   </div>

                   <div class="row">
                     <div class="col">
                       <p class="v-name">
                         Email Id
                       </p>
                       <p class="v-value">
                         {{details?.consumer_email}}
                       </p>
                     </div>
                     <div class="col">
                       <p class="v-name">
                         Contact No.
                       </p>
                       <p class="v-value">
                         {{details?.consumer_phone_no}}
                       </p>
                     </div>
                   </div>

                   <div class="row">
                     <div class="col">
                       <p class="v-name">
                         Appointment Date
                       </p>
                       <p class="v-value">
                         {{details?.appointment_date | date}}
                       </p>
                     </div>
                     <div class="col">
                       <p class="v-name">
                         Description
                       </p>
                       <p class="v-value">
                         {{details?.description}}
                       </p>
                     </div>
                   </div>

                   <div class="row">
                     <div class="col">
                       <p class="v-name">
                         Service
                       </p>
                       <p class="v-value">
                         {{details?.service}}
                       </p>
                     </div>
                     <div class="col">
                       <p class="v-name">
                         Status
                       </p>
                       <p class="v-value">
                         {{ details?.status }}
                       </p>
                     </div>
                   </div>

                   <div class="row">
                     <div class="col">
                       <p class="v-name">
                         Region
                       </p>
                       <p class="v-value">
                         {{details?.region}}
                       </p>
                     </div>
                     <div class="col">
                       <p class="v-name">
                         Booked Between
                       </p>
                       <p class="v-value">
                         {{details?.start_time}}-{{details?.end_time}}
                       </p>
                     </div>
                   </div>
                   <div>
                     <div class="row">
                       <div class="col">
                         <button mat-raised-button class="login"  [routerLink]="['../../dashboard']" (click)="final_request('500')">Done</button>

                       </div>
                       <!-- <div class="col">
                         <button mat-raised-button class="login1" (click)="final_request('400')">Cancel</button>

                       </div> -->
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="col">
                 <div class="block">
                   <div class="block-header">
                     <div class="title">
                       Actions
                     </div>
                   </div>

                   <div class="block-body">
                     <div class="row">
                       <div class="col">
                         <button mat-button color="accent" mat-stroked-button (click)="back()">
                           <mat-icon>arrow_back</mat-icon>
                         </button>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>

       </div>

     </div>
   </div>