.full-width {
    width: 100%;
  }
  
  .value {
    color: #43515E;
    font-size: 3.8rem;
    font-weight: 600;
  }
  
  .reject-form {
    width: 780px;
    max-width: 780px;
  }
  
  .card {
    padding: 4rem;
    background: #ffffff;
    border: 2px solid #DFE1E6;
    border-radius: 12px;
  
    .card-title {
      .title {
        font-size: 2.2rem;
        font-weight: 400;
        color: #172B4D;
        margin-bottom: 0.6rem;
      }
  
      .desc {
        font-size: 1.2rem;
        font-weight: 400;
        color: #B3BAC5;
      }
    }
  
    .card-body {
      padding: 3rem 0 0 0;
    }
  }
  
  .row {
    display: flex;
    margin: 0 -1rem;
    margin-bottom: 2.2rem;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .col {
    flex: 1;
    margin: 0 1rem;
  }
  
  .form-group {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
  
    label {
      font-size: 1.2em;
      font-weight: 500;
      color: #6B778C;
    }
  
    input,
    select {
      display: block;
      margin: 1rem 0 0 0;
      padding: 1.2rem 1rem !important;
      font-size: 1.4rem;
      color: #505F79;
      background: #ffffff;
      border-radius: 4px;
      border: 2px solid #DFE1E6;
      outline: none !important;
  
      &:focus {
        border: 2px solid #ffffff;
        box-shadow: 0 0 0 2px #6B778C;
      }
    }
  
    input[type="file"] {
      max-width: 328px;
    }
  
    input[type="submit"] {
      background: #FB6F0A;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
  
      &:focus {
        box-shadow: none;
      }
    }
  
    select {
      height: 100%;
    }
  }
  
  .error-msg {
    color: red;
  }
  
  .v-name {
    font-size: 1.2em;
    font-weight: 600;
    color: #6B778C;
  }
  
  .v-value {
    font-size: 1.4em;
    font-weight: 500;
    color: #172B4D;
  }
  
  .green {
    background: rgb(41, 185, 85);
    padding: 4px;
    border-radius: 4px;
    color: #ffffff !important;
  
  }
  
  
  .red {
    background: rgb(230, 81, 0);
    padding: 4px;
    border-radius: 4px;
    color: #ffffff !important;
  }
  
  
  .blue {
    background: #39f;
    padding: 4px;
    border-radius: 4px;
    color: #ffffff !important;
  }
  
  .grey {
    background: #B3BAC5;
    padding: 4px;
    border-radius: 4px;
    color: black;
  }
  
  .submit-status {
    font-size: 1.9em;
    font-weight: 500;
    align-content: center;
  }
  .admin_name{
    margin-bottom:0% !important;
    margin-left: 1rem;
    margin-top: 1rem; 
  
  }
  .admin_comment{
    color:#363636;
    font-size: 15px;
    margin-top: 0% !important;
    margin-left: 7.8rem;
  
  }
  .comment{
    margin-left:2rem !important;
  }
  hr{
    height:100%;
    filter: alpha(opacity=50) !important;
  }
  .circle{
    display: flex;
    justify-content: center;
  
    align-items: center;
    width: 42px !important;
    height: 42px !important;
    border-radius: 100%;
    background-color: #D9DDDC;
    color: #363636;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
  
  
  }
  .name{
   margin-top: 1rem;
   font-size:18px;
   color:#222021;
   font-weight:600;
  }
  .text{
    width:100%;
    min-width:100%;
    max-width:100%;
    border-radius:5px;

  }
  .text:hover{
    border-style:solid;
    border-color: #000000 !important;
    border-width:2px;
  }
  .text:focus{
  border-color: #fc891f;
  border-width:2px;
  outline: none !important;
  }
  .date{
    margin-left:80px;
  font-size: 10px;
  }