<div class="container">

  <div class="content-wrap">
    <section>
      <div class="row">
        <div class="col">
          <div class="block">
            <div class="block-header">
              <div class="title">
                <span>Ticket List</span>
              </div>
            </div>

            <div class="block-body" *ngIf="viewData">
              <span *ngIf="dtUsers?.length == 0">No tickets have been done, yet.</span>
              <table datatable class="row-border hover full-width make-table-look-sexy" style="width:100%"
                *ngIf="dtUsers?.length >= 1">
                <thead>
                  <tr>
                    <th class="f-value">S No.</th>
                    <th class="f-value">status</th>
                    <!-- <th class="f-value">Issue</th> -->
                    <th class="f-value">Ticket ID</th>
                    <th class="f-value">Subject</th>
                    <th class="f-value">Date</th>
                    <th class="f-value">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of dtUsers; let i = index">
                    <td class="f-name">{{i+1}}</td>
                    <td class="f-name">
                      <b *ngIf="user.status ===0" class="green">New</b>
                      <b *ngIf="user.status ===1" class="red">Open</b>
                      <b *ngIf="user.status ===2" class="blue">Pending</b>
                      <b *ngIf="user.status ===3" class="grey">Closed</b>
                    </td>
                    <td class="f-name">{{user.uid}}</td>
                    <td class="f-name">{{ user.subject }}</td>
                    <td class="f-name">{{ user.date | date }}</td>
                    <!-- <td class="f-name"><b [class.orange]="user.priority.name === 'Normal'"
                        [class.red]="user.priority.name === 'Critical'"
                        [class.blue]="user.priority.name === 'Urgent'">{{ user.priority.name }}</b>
                    </td> -->

                    <!-- <td class="f-name" [innerHtml]="user.issue"></td> -->

                    <td><button class="btn" mat-raised-button (click)="showDetail(user)">
                        <mat-icon>visibility</mat-icon>
                      </button></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="block-body" *ngIf="!viewData">
              <div class="row">
                <div class="col">
                  <div class="block">
                    <div class="block-header">
                      <div class="title">
                        Ticket Generated
                      </div>
                    </div>

                    <div class="block-body">
                      <div class="row">
                        <div class="col">
                          <p class="v-name">
                            Subject
                          </p>
                          <p class="v-value">
                            {{details?.subject }}
                          </p>
                        </div>

                        <div class="col">
                          <p class="v-name">
                            Issue
                          </p>
                          <p class="v-value" [innerHtml]="details?.issue">
                            {{details?.issue}}
                          </p>
                        </div>
                        <div class="col">
                          <p class="v-name">
                            priority
                          </p>
                          <p class="v-value">
                            {{details?.priority.name}}
                          </p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              
             
              <div class="row">
                <div class="col">
                  <div class="block">
                    <div class="block-header">
                      <div class="title">
                        Comments
                      </div>
                    </div>
                    <div class="block-body comment" >
                    <div *ngFor="let item of details?.comments ">
                        <div class="row admin_name">
                            <div class=" v-value">
                              <span class=" circle">
                                
                                  {{toCapital(item)}}
                              
                              </span>
                            </div>
                           <span class="col name"> {{item?.owner.fullname}}</span>
                         
                          
                           
                          </div>
                          <div class="row">
                              
                           <div class="col date">
                            <span>{{item?.date | date}}  &nbsp; &nbsp; &nbsp; {{item?.time}}</span>
                           </div>
                          </div>
                      <div class="row">
                        <div class="admin_comment" [innerHtml]="item?.comment">
                          {{item?.comment}}
                        </div>
                      </div>
                      <hr/>
                    </div>
                    
                  </div>
              
                </div>
              </div>
            </div>








              <div class="row">
                <div class="col">
                  <div class="block">
                    <div class="block-header">
                      <div class="title">
                        Comment
                      </div>
                    </div>
                    <form [formGroup]="inputForm" (ngSubmit)="addComment()">

                      <div class="row">
                        <div class="col">
                          <label class="m-b m-t">
                            <h3>Write Your comment here</h3>
                          </label>
                          <textarea  class="text"   rows="8" formControlName="comment"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="login-wrap m-b">
                            <button mat-raised-button color="primary" type="submit">Comment</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>




              <div class="row">
                <div class="col">
                  <div class="block">
                    <div class="block-header">
                      <div class="title">
                        Actions
                      </div>
                    </div>

                    <div class="block-body">
                      <div class="row">
                        <div class="col">
                          <button mat-button color="accent" mat-stroked-button (click)="back()">
                            <mat-icon>arrow_back</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>