.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  width: 380px;
  min-width: 380px;      
  padding: 2rem;
  border-radius: 12px;
  border: 2px solid #C1C7D0;
}

.logo{
  text-align: center;
  color: #344563;
}

.logo .title{
  font-size: 24px;
  padding-bottom: 1rem;
}

.e-suvidhaLogo {
  width: 212px;
  height: 56px;
  padding: 1rem 0 2rem 0;
}

.content{
  font-size: 14px;
  color: #505F79;
  margin-left: 1rem;
}

.form-wrap{
  width: 100%;
}

.input-wrap{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 1.4rem;
}

mat-form-field{
  width: 100%;
}

.forgot-wrap{
  display: block;
  margin-top: -1rem;
  text-align: right;
}

.forgot-pass{
  display: inline-block;
  color: #7A869A;
  text-decoration: none;
}

.reset-wrap{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 1.4rem;
}
.reset-wrap .back-button {
  margin-right: 15px;
}
.reset-wrap .reset-button{
  background: #FC891F;
  color: #ffffff;
}