<div class="wrapper">

    <div class="loginCard">
      <form [formGroup]="forgetPassForm" (ngSubmit)="submit()">
        <div class="logo">
          <mat-icon class="e-suvidhaLogo" svgIcon="e-suvidha"></mat-icon>
          <div class="title">Forgot Password</div>
        </div>
    
        <mat-card-content class="form-wrap">
          <p class="content">
            Enter your username to report for password reset.
          </p>
          <div class="input-wrap">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input
                formControlName="username"
                matInput 
                placeholder="Username"
              >
              <mat-error *ngIf="submitted && f.username.hasError">
                <div *ngIf="f.username.hasError('required')">Username is required</div>
                <div *ngIf="!f.username.hasError('required')">Username is invalid</div>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
  
        <div class="reset-wrap">
          <button routerLink="/" mat-raised-button class="back-button">Login</button>
          <button type="submit" mat-raised-button class="reset-button">Reset</button>
        </div>
      </form>
      
      <p class="content">
        Please check your email for further instructions.
      </p>
  
    </div>
  
  </div>
  