<header class="header">
  <div class="header-left">
    <button mat-icon-button id="menu" (click)="navService.toggleNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="header-right">
 
    <div class="profile">
        <div class=" m-r help">
            Total Appointment :{{countdata}}
         </div>
      <a href="https://otc.esuvidhamitra.com/help/otc.pdf" target="_blank" class=" m-r help">
        <mat-icon>
          info
        </mat-icon>
        Help
      </a>

      <div class="p-view" mat-icon-button [matMenuTriggerFor]="profileMenu">
        <div class="name">
          {{username()}}
        </div>
        <div class="icon">
          <i class="material-icons" mat-raised-button>
            arrow_drop_down
          </i>
        </div>
      </div>

      <mat-menu class="agentMenuOptions" #profileMenu="matMenu">
        <button (click)="changePass()" mat-menu-item>
          Change Pass
        </button>
        <button (click)="logout()" mat-menu-item>
          Logout
        </button>
      </mat-menu>
    </div>
  </div>
</header>
<mat-divider></mat-divider>