.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  width: 100%;
  padding: 0 2rem;
  background: #ffffff;
  height: 72px;

  .e-suvidhaLogo{
    width: 132px;
  }
}

.p-view {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  
  .name{
    font-size: 1.3em;
    font-weight: 500;
    color: #505F79;
  }

  .icon .material-icons {
    font-size: 2.4em;
    color: #505F79;
  }
}

.profile {
  display: flex;
  align-items: center;

  .help {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.4em;

    mat-icon {
      margin-right: 8px;
    }
  }
}