<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="side" opened="true">
    <div class="brand">
      <div class="logo">
        <img src="/logo.svg" alt="">
      </div>
    </div>
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav></app-nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
