<div class="container">

  <div class="content-wrap">
    <section>
      <div class="row">
        <div class="col">
          <div class="block">
            <div class="block-header">
              <div class="title">
                <span>Dispute</span>
              </div>
              <button mat-raised-button (click)="onPrint()" class="cta">Print</button>
              <button mat-raised-button (click)="back()" class="cta">Back</button>
            </div>

            <div class="block-body watermark">
              <div class="row dns-head">
                <div class="logo logo-small">
                  <img src="/esuvidha.png" alt="">
                </div>
                <div class="slip-info">
                  <div class="slip-key">
                    Date:
                  </div>
                  <div class="slip-value">
                    {{current_date | date}}
                  </div>
                </div>
              </div>
              <div class="dns-body">
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute Receipt ( <i style="color:orange;">Consumer copy</i> )
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Centre name:
                      </div>
                      <div class="slip-value grow">
                        {{data.centre_name}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute ID:
                      </div>
                      <div class="slip-value grow">
                        {{data.dispute_id}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute Date:
                      </div>
                      <div class="slip-value grow">
                        {{data.dispute_date | date}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Transaction UID:
                      </div>
                      <div class="slip-value grow">
                        {{data.tnx_uid}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Counter Name/ no.:
                      </div>
                      <div class="slip-value grow">
                        {{data.counter_name}}/ {{data.counter_no}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Consumer Account ID:
                      </div>
                      <div class="slip-value grow">
                        {{data.acct_id}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Consumer Phone Number:
                      </div>
                      <div class="slip-value grow">
                        {{data.con_ph_no}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Bill Amount:
                      </div>
                      <div class="slip-value grow">
                        Rs. {{data.bill_amt}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Paid Amount:
                      </div>
                      <div class="slip-value grow">
                        Rs. {{data.paid_amt}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Payment Mode:
                      </div>
                      <div class="slip-value grow">
                        {{data.payment_mode}}
                      </div>
                    </div>
                  </div>

                  <div class="col" *ngIf="data?.payment_mode == 'CASH'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Disputed Amount:
                      </div>
                      <div class="slip-value grow">
                        Rs. {{data.paid_amt}}
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col"></div> -->
                </div>
                <!-- <div class="row m-b-h" *ngIf="data?.payment_mode == 'CASH'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Received Amount:
                      </div>
                      <div class="slip-value grow">
                        Rs. {{data.received_amount}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Return Amount:
                      </div>
                      <div class="slip-value grow">
                        {{data.return_amount}}
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="row m-b-h" *ngIf="data?.payment_mode == 'CARD'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Card Type:
                      </div>
                      <div class="slip-value grow" *ngIf="data.card_type == 'CC'">
                        Credit Card
                      </div>
                      <div class="slip-value grow" *ngIf="data.card_type == 'DD'">
                        Debit Card
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Card Reference #:
                      </div>
                      <div class="slip-value grow">
                        {{data.pos_num}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute Resolved by:
                      </div>
                      <div class="slip-value grow">
                        {{data.agent_name}}/ {{data.agent_username}}
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Payment return mode:
                      </div>
                      <div class="slip-value grow" *ngIf="data?.amt_return_mode == 'CASH'">
                        {{data.amt_return_mode}} (Original)
                      </div>
                      <div class="slip-value grow" *ngIf="data?.amt_return_mode == 'CARD'">
                        {{data.amt_return_mode}} <{{data.amt_return_pos_id}}>
                      </div>
                      <div class="slip-value grow" *ngIf="data?.amt_return_mode == 'CHEQUE'">
                        {{data.amt_return_mode}} (Original)
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="row m-b-h" *ngIf="data?.mode_type == 'CHEQUE'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Cheque #:
                      </div>
                      <div class="slip-value grow">
                        {{data.cheque_num}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Bank Name:
                      </div>
                      <div class="slip-value grow">
                        {{data.bank_name}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Cheque Date:
                      </div>
                      <div class="slip-value grow">
                        {{data.cheq_due_date | date}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h" *ngIf="data?.mode_type == 'RTGS'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        RTGS #:
                      </div>
                      <div class="slip-value grow">
                        {{data.rtgs_num}}
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col"></div>

                  <div class="col"></div> -->
                </div>

                <div class="row m-b-h" *ngIf="data?.mode_type == 'NEFT'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        NEFT #:
                      </div>
                      <div class="slip-value grow">
                        {{data.neft_num}}
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col"></div>

                  <div class="col"></div> -->
                </div>



                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute Resolved Date:
                      </div>
                      <div class="slip-value grow">
                        {{data.dispute_date | date}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Signature:
                      </div>
                      <div class="slip-value grow">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="block-body">
              <div class="row dns-head">
                <div class="logo">
                  <img src="/esuvidha.png" alt="" style="width:30%">
                </div>
                <div class="slip-info">
                  <div class="slip-key">
                    Date:
                  </div>
                  <div class="slip-value">
                    {{current_date | date}}
                  </div>
                </div>
              </div>
              <div class="dns-body">
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute Receipt ( <i style="color:orange;">Office copy</i> )
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <!-- <div class="slip-info full">
                      <div class="slip-key">
                        E-Suvidha Centre:
                      </div>
                      <div class="slip-value grow">
                        {{data.centre_name}}
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="row m-b-h">
                  <!-- <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute Receipt
                      </div>
                    </div>
                  </div> -->

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Centre name:
                      </div>
                      <div class="slip-value grow">
                        {{data.centre_name}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute ID:
                      </div>
                      <div class="slip-value grow">
                        {{data.dispute_id}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute Date:
                      </div>
                      <div class="slip-value grow">
                        {{data.dispute_date | date}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Transaction UID:
                      </div>
                      <div class="slip-value grow">
                        {{data.tnx_uid}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Counter Name/ no.:
                      </div>
                      <div class="slip-value grow">
                        {{data.counter_name}}/ {{data.counter_no}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Consumer Account ID:
                      </div>
                      <div class="slip-value grow">
                        {{data.acct_id}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Consumer Phone Number:
                      </div>
                      <div class="slip-value grow">
                        {{data.con_ph_no}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Bill Amount:
                      </div>
                      <div class="slip-value grow">
                        Rs. {{data.bill_amt}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Paid Amount:
                      </div>
                      <div class="slip-value grow">
                        Rs. {{data.paid_amt}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Payment Mode:
                      </div>
                      <div class="slip-value grow">
                        {{data.payment_mode}}
                      </div>
                    </div>
                  </div>

                  <div class="col" *ngIf="data?.payment_mode == 'CASH'">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Disputed Amount:
                      </div>
                      <div class="slip-value grow">
                        {{data.paid_amt}}
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col"></div> -->
                </div>
                <!-- <div class="row m-b-h" *ngIf="data?.payment_mode == 'CASH'">
                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Received Amount:
                        </div>
                        <div class="slip-value grow">
                          Rs. {{data.received_amount}}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full">
                        <div class="slip-key">
                          Return Amount:
                        </div>
                        <div class="slip-value grow">
                          {{data.return_amount}}
                        </div>
                      </div>
                    </div>
                  </div> -->
                <div class="row m-b-h" *ngIf="data?.payment_mode == 'CARD'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Card Type:
                      </div>
                      <div class="slip-value grow" *ngIf="data.card_type == 'CC'">
                        Credit Card
                      </div>
                      <div class="slip-value grow" *ngIf="data.card_type == 'DD'">
                        Debit Card
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Card Reference #:
                      </div>
                      <div class="slip-value grow">
                        {{data.pos_num}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute Resolved by:
                      </div>
                      <div class="slip-value grow">
                        {{data.agent_name}}/ {{data.agent_username}}
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Payment return mode:
                      </div>
                      <div class="slip-value grow" *ngIf="data?.amt_return_mode == 'CASH'">
                        {{data.amt_return_mode}} (Original)
                      </div>
                      <div class="slip-value grow" *ngIf="data?.amt_return_mode == 'CARD'">
                        {{data.amt_return_mode}} <{{data.amt_return_pos_id}}>
                      </div>
                      <div class="slip-value grow" *ngIf="data?.amt_return_mode == 'CHEQUE'">
                        {{data.amt_return_mode}} (Original)
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="row m-b-h" *ngIf="data?.mode_type == 'CHEQUE'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Cheque #:
                      </div>
                      <div class="slip-value grow">
                        {{data.cheque_num}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Bank Name:
                      </div>
                      <div class="slip-value grow">
                        {{data.bank_name}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Cheque Date:
                      </div>
                      <div class="slip-value grow">
                        {{data.cheq_due_date | date}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-b-h" *ngIf="data?.mode_type == 'RTGS'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        RTGS #:
                      </div>
                      <div class="slip-value grow">
                        {{data.rtgs_num}}
                      </div>
                    </div>
                  </div>

                  <div class="col"></div>

                  <div class="col"></div>
                </div>

                <div class="row m-b-h" *ngIf="data?.mode_type == 'NEFT'">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        NEFT #:
                      </div>
                      <div class="slip-value grow">
                        {{data.neft_num}}
                      </div>
                    </div>
                  </div>

                  <div class="col"></div>

                  <div class="col"></div>
                </div>



                <div class="row m-b-h">
                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Dispute Resolved Date:
                      </div>
                      <div class="slip-value grow">
                        {{data.dispute_date | date}}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="slip-info full">
                      <div class="slip-key">
                        Signature:
                      </div>
                      <div class="slip-value grow">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
