.container {
  max-width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  .bill-summary-wrap {
    flex-grow: 1;
    min-height: 100vh;
    min-height: calc(100vh - 72px);
    padding: 2.8rem;
    background: #F4F5F7;
  }

  .pay-detail-wrap {
    position: relative;
    width: 420px;
    min-width: 420px;
    max-width: 420px;
    padding: 2.8rem;
    background: #ffffff;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -14px;
      width: 14px;
      height: 100%;
      background: url('/paper.png');
    }
  }
}

.consumer-detail {
  .consumer-name {
    font-size: 24px;
    font-weight: 400;
    margin: 0.4rem 0;
    color: #A5ADBA
  }

  .consumer-acct-id {
    font-size: 16px;
    color: #A5ADBA;
  }
}

.intro-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.4rem;

  .title {
    font-size: 18px;
    color: #7A869A;
  }

  .bill-type {
    font-size: 16px;
    color: #FB6F0A;
  }
}

.one-col {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 100%
}

.attr-wrap {
  min-width: 50%;
  padding-right: 1.8rem;
  margin-bottom: 1.8rem;

  .attr-name {
    font-size: 14px;
    color: #8993A4;
    margin-bottom: 0.4rem;
  }

  .attr-value {
    font-size: 20px;
    line-height: 1.5em;
    color: #42526E;

    &.money {
      display: flex;

      .money-icon {
        width: 12px;
        margin-right: 4px;

        svg {
          width: 100%;
        }
      }
    }
  }
}

.pay-detail {
  position: relative;
  height: 100%;
  background: #ffffff;
}

.payment-options {

  .title {
    font-size: 18px;
    color: #7A869A;
  }

  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;

    .option {
      flex: 1;
      padding: 0.6rem;
      text-align: center;
      border-radius: 8px;
      cursor: pointer;

      &:nth-child(2) {
        margin: 0 2.4rem;
      }

      .icon {
        width: 28px;
        margin: 0 auto;

        svg {
          width: 100%;
        }
      }

      .icon svg path {
        fill: #97A0AF;
      }

      .value {
        color: #97A0AF;
        font-size: 14px;
      }

      &.is-selected {
        background: #F2FFED;
        border: 2px solid #42B819;

        .value {
          color: #091E42;
        }

        .icon svg path {
          fill: #42B819;
        }
      }
    }
  }
}

.amount-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .amount-type,
  .amount-value {
    font-size: 16px;
    font-weight: 500;
    color: #505F79;
  }

  .amount-value {
    display: flex;
    align-items: center;

    .money-icon {
      width: 9px;
      margin-right: 4px;
      margin-top: 1px;

      svg {
        width: 100%;
      }
    }
  }
}

.form-wrap {
  padding: 2rem 0;
}

.fields {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;

  .pay-field {
    width: 100%;
  }

  mat-form-field {
    flex: 1;
  }

  .attr-value {
    display: flex;

    .money-icon {
      width: 12px;
      margin-right: 4px;

      svg {
        width: 100%;
      }
    }
  }
}

label {
  font-size: 1.2em;
  color: #505F79;
}

.btn-wrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 1.4rem;
}

.btn-wrap .cancel-button {
  background: #ffffff;
  color: #5E6C84;
  margin-right: 20px;
}

.btn-wrap .pay-button {
  background: #FC891F;
  color: #ffffff;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.for-dates{
  font-size: 1.2em !important;
  width: 100% !important;

  mat-form-field {
    width: 100% !important;
  }
}
