<div class="container" *ngIf="bill_details">
  <div class="bill-summary-wrap">
    <div class="intro-wrap m-b">
      <div class="title">Bill Summary</div>
      <div class="bill-type">
        {{bill_details.service_name}}
        <!-- &nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="warn" (click)="openEditTransaction()">Edit</button> -->
      </div>
    </div>

    <div class="one-col">
      <div class="attr-wrap" *ngIf="bill_details.consumer_name">
        <div class="attr-name">
          Consumer Name
        </div>
        <div class="attr-value money">
          {{bill_details.consumer_name}}
        </div>
      </div>

      <div class="attr-wrap" *ngIf="bill_details.account_no">
        <div class="attr-name">
          Consumer Account No.
        </div>
        <div class="attr-value">
          {{bill_details.account_no}}
        </div>
      </div>

      <div class="attr-wrap" *ngIf="bill_details.tnx_uid">
        <div class="attr-name">
          Transaction #
        </div>
        <div class="attr-value money">
          {{bill_details.tnx_uid}}
        </div>
      </div>

      <div class="attr-wrap" *ngIf="bill_details.bill_no">
        <div class="attr-name">
          Bill #
        </div>
        <div class="attr-value">
          {{bill_details.bill_no}}
        </div>
      </div>

      <div class="attr-wrap" *ngIf="bill_details.discom_name">
        <div class="attr-name">
          Discom
        </div>
        <div class="attr-value money">
          {{bill_details.discom_name}}
        </div>
      </div>

      <div class="attr-wrap" *ngIf="bill_details.division_name">
        <div class="attr-name">
          Division
        </div>
        <div class="attr-value">
          {{bill_details.division_name}}
        </div>
      </div>

      <div class="attr-wrap" *ngIf="bill_details.bill_amt">
        <div class="attr-name">
          Bill Amount
        </div>
        <div class="attr-value money">
          <div class="money-icon">
            <svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M17.1249 5.89052C17.0142 5.77973 16.8726 5.72443 16.7004 5.72443H13.5429C13.3335 4.70298 12.9395 3.81633 12.361 3.06543H16.6633C16.8359 3.06543 16.9772 3.01007 17.0882 2.89953C17.1984 2.78881 17.2538 2.6471 17.2538 2.4748V0.590889C17.2538 0.41846 17.1985 0.277011 17.0882 0.166155C16.9771 0.0555575 16.8358 0 16.6632 0H1.29981C1.12738 0 0.985931 0.0555575 0.875075 0.16609C0.764542 0.276947 0.708984 0.418395 0.708984 0.590824V3.04674C0.708984 3.20675 0.767452 3.34522 0.884388 3.46216C1.00132 3.57909 1.1398 3.63756 1.29981 3.63756H3.97737C6.57473 3.63756 8.22438 4.3329 8.926 5.7241H1.29981C1.12738 5.7241 0.985737 5.7794 0.875075 5.89019C0.764542 6.00111 0.708984 6.1425 0.708984 6.31493V8.19858C0.708984 8.37088 0.764283 8.51252 0.875075 8.62305C0.985931 8.73397 1.12764 8.78914 1.29981 8.78914H9.1849C8.91403 9.79888 8.28304 10.5681 7.29193 11.0975C6.30076 11.627 4.99306 11.8917 3.36798 11.8917H1.29981C1.1398 11.8917 1.00132 11.9502 0.884388 12.0671C0.767388 12.1841 0.708984 12.3226 0.708984 12.4825V14.8279C0.708984 14.9882 0.764283 15.1235 0.875075 15.2342C3.23856 17.7455 6.30399 21.2598 10.071 25.7782C10.1819 25.926 10.3357 25.9997 10.5327 25.9997H14.1334C14.3922 25.9997 14.5708 25.8893 14.669 25.6672C14.7921 25.4457 14.7679 25.2364 14.5951 25.0394C11.0008 20.6321 8.17536 17.3329 6.11947 15.1417C8.21229 14.8956 9.91116 14.2183 11.2161 13.1106C12.5209 12.0027 13.3148 10.5621 13.5982 8.78947H16.7004C16.8726 8.78947 17.0143 8.73423 17.1249 8.62338C17.2358 8.51284 17.2913 8.3712 17.2913 8.1989V6.31544C17.2913 6.14282 17.2358 6.00137 17.1249 5.89052Z"
                fill="#505F79" />
            </svg>
          </div>
          {{totalBillAmount}}/-
        </div>
      </div>

      <div class="attr-wrap">
        <div class="attr-name">
          Bill Date
        </div>
        <div class="attr-value">
          {{getBillDate()}}
        </div>
      </div>

      <div class="attr-wrap">
        <div class="attr-name">
          Last Payment Date
        </div>
        <div class="attr-value money">
          {{getLastPaymentDate()}}
        </div>
      </div>

      <div class="attr-wrap">
        <div class="attr-name">
          Contact No.
        </div>
        <div class="attr-value">
          {{bill_details.contact_no}}
        </div>
      </div>
    </div>

  </div>

  <div class="pay-detail-wrap">
    <div class="pay-detail">
      <div class="payment-options">
        <div class="title">
          Payment Options
        </div>
        <div class="options">
          <div class="option" [ngClass]="{'is-selected': cash_click}" (click)="cashClicked()">
            <div class="icon">
              <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M34.8367 13.7008H0.587016C0.263198 13.7004 0.000342818 13.9626 3.35166e-07 14.2864V30.727C-0.000342148 31.0508 0.261829 31.3136 0.585646 31.314H23.8759C24.2 31.314 24.4629 31.0511 24.4629 30.727C24.4629 30.4028 24.2 30.1399 23.8759 30.1399H1.17403V14.8748H34.2483V16.3427C34.2479 16.6665 34.5101 16.9293 34.8339 16.9297H34.8353C35.1591 16.93 35.422 16.6679 35.4223 16.344V14.2878C35.4227 13.964 35.1605 13.7012 34.8367 13.7008Z"
                    fill="#42B819" />
                  <path
                    d="M30.8543 10.9753L3.45571 4.81066C3.30364 4.77667 3.1443 4.80424 3.01253 4.88737C2.88093 4.9712 2.78786 5.10365 2.75362 5.25588L1.38368 11.4206C1.3133 11.7372 1.51297 12.0509 1.8296 12.1213C2.14622 12.1917 2.45994 11.992 2.53032 11.6754L3.77216 6.08538L30.5968 12.1206C30.6393 12.1305 30.6827 12.1353 30.7262 12.135C31.0504 12.1344 31.3128 11.8711 31.3122 11.5469C31.3117 11.2729 31.1216 11.0357 30.8543 10.9753Z"
                    fill="#42B819" />
                  <path
                    d="M27.5274 7.57847L11.0882 0.728809C10.8025 0.60971 10.4733 0.732062 10.3348 1.00896L8.96484 3.74882C8.81013 4.03497 8.91664 4.39243 9.20287 4.54715C9.48901 4.70187 9.84648 4.59536 10.0012 4.30912C10.0073 4.29791 10.013 4.28644 10.0183 4.27479V4.27616L11.1423 2.02673L27.074 8.66474C27.374 8.78991 27.7187 8.6483 27.8439 8.34828C27.969 8.04844 27.8274 7.70373 27.5274 7.57847Z"
                    fill="#42B819" />
                  <path
                    d="M27.9425 16.4406H22.506C22.1818 16.4406 21.919 16.7034 21.919 17.0276C21.919 17.3517 22.1818 17.6146 22.506 17.6146H27.9425C28.2667 17.6146 28.5296 17.3517 28.5296 17.0276C28.5296 16.7034 28.2667 16.4406 27.9425 16.4406Z"
                    fill="#42B819" />
                  <path
                    d="M17.0261 16.4797C13.6971 16.4797 10.9984 19.1784 10.9984 22.5074C11.0019 25.835 13.6986 28.5317 17.0261 28.5351C20.3551 28.5351 23.0538 25.8364 23.0538 22.5074C23.0538 19.1784 20.3551 16.4797 17.0261 16.4797ZM17.0261 27.4392C14.3024 27.4392 12.0944 25.2312 12.0944 22.5074C12.0974 19.7849 14.3036 17.5787 17.0261 17.5757C19.7499 17.5757 21.9579 19.7836 21.9579 22.5074C21.9579 25.2312 19.7499 27.4392 17.0261 27.4392Z"
                    fill="#42B819" />
                  <path
                    d="M33.4654 18.3975C29.8351 18.3975 25.9308 19.2551 25.9308 21.1374V37.5766C25.9308 39.4589 29.8351 40.3164 33.4654 40.3164C37.0957 40.3164 41.0001 39.4589 41.0001 37.5766V21.1374C41.0001 19.2551 37.0957 18.3975 33.4654 18.3975ZM39.6301 37.5663C39.5267 37.9465 37.4725 38.9465 33.4654 38.9465C29.4584 38.9465 27.4042 37.9464 27.3007 37.5766V36.4998C28.7583 37.2341 31.166 37.5766 33.4654 37.5766C35.7649 37.5766 38.1732 37.2307 39.6301 36.4991V37.5663ZM39.6301 34.8264C39.5267 35.2066 37.4725 36.2066 33.4654 36.2066C29.4584 36.2066 27.4042 35.2066 27.3007 34.8367V33.7599C28.7583 34.4942 31.166 34.8367 33.4654 34.8367C35.7649 34.8367 38.1732 34.4908 39.6301 33.7593V34.8264ZM39.6301 32.0866C39.5267 32.4667 37.4725 33.4668 33.4654 33.4668C29.4584 33.4668 27.4042 32.4667 27.3007 32.0968V31.0201C28.7583 31.7544 31.166 32.0968 33.4654 32.0968C35.7649 32.0968 38.1732 31.7509 39.6301 31.0194V32.0866ZM39.6301 29.3467C39.5267 29.7269 37.4725 30.7269 33.4654 30.7269C29.4584 30.7269 27.4042 29.7269 27.3007 29.357V28.2802C28.7583 29.0145 31.166 29.357 33.4654 29.357C35.7649 29.357 38.1732 29.0111 39.6301 28.2795V29.3467ZM39.6301 26.6068C39.5267 26.987 37.4725 27.987 33.4654 27.987C29.4584 27.987 27.4042 26.987 27.3007 26.6171V25.5404C28.7583 26.2712 31.166 26.6171 33.4654 26.6171C35.7649 26.6171 38.1732 26.2712 39.6301 25.5397V26.6068ZM39.6301 23.867C39.5267 24.2471 37.4725 25.2472 33.4654 25.2472C29.4584 25.2472 27.4042 24.2471 27.3007 23.8773V22.8005C28.7583 23.5313 31.166 23.8773 33.4654 23.8773C35.7649 23.8773 38.1732 23.5313 39.6301 22.7998V23.867ZM33.4654 22.5073C29.4645 22.5073 27.411 21.51 27.3007 21.1497V21.1456C27.411 20.7641 29.4645 19.7675 33.4654 19.7675C37.4382 19.7675 39.4931 20.7497 39.6301 21.1374C39.4931 21.5251 37.4382 22.5073 33.4654 22.5073Z"
                    fill="#42B819" />
                  <path
                    d="M11.5465 27.3993H6.3688L3.91388 24.7142V20.262L6.62498 17.6146H11.5465C11.8706 17.6146 12.1335 17.3517 12.1335 17.0276C12.1335 16.7034 11.8706 16.4405 11.5465 16.4405H6.38661C6.23318 16.4402 6.08565 16.5 5.97563 16.607L2.91589 19.5914C2.80158 19.725 2.73891 19.8951 2.73917 20.0709V24.9423C2.73917 25.0888 2.79388 25.23 2.8926 25.3383L5.67562 28.3822C5.78684 28.504 5.94421 28.5734 6.1092 28.5734H11.5465C11.8706 28.5734 12.1335 28.3105 12.1335 27.9863C12.1335 27.6622 11.8707 27.3993 11.5465 27.3993Z"
                    fill="#42B819" />
                  <path
                    d="M18.2499 21.9062C18.2329 21.8892 18.2111 21.8807 18.1846 21.8807H17.6988C17.6666 21.7235 17.606 21.5871 17.517 21.4716H18.1789C18.2054 21.4716 18.2272 21.4631 18.2442 21.4461C18.2612 21.429 18.2697 21.4072 18.2697 21.3807V21.0909C18.2697 21.0644 18.2612 21.0426 18.2442 21.0256C18.2271 21.0085 18.2054 21 18.1789 21H15.8153C15.7887 21 15.767 21.0085 15.7499 21.0256C15.7329 21.0426 15.7244 21.0644 15.7244 21.0909V21.4687C15.7244 21.4933 15.7334 21.5146 15.7514 21.5326C15.7693 21.5506 15.7906 21.5596 15.8153 21.5596H16.2272C16.6268 21.5596 16.8806 21.6666 16.9885 21.8806H15.8153C15.7887 21.8806 15.7669 21.8891 15.7499 21.9062C15.7329 21.9232 15.7244 21.945 15.7244 21.9715V22.2613C15.7244 22.2878 15.7329 22.3096 15.7499 22.3266C15.767 22.3437 15.7888 22.3522 15.8153 22.3522H17.0284C16.9867 22.5075 16.8896 22.6259 16.7371 22.7073C16.5846 22.7888 16.3835 22.8295 16.1334 22.8295H15.8153C15.7906 22.8295 15.7693 22.8385 15.7514 22.8565C15.7334 22.8745 15.7244 22.8958 15.7244 22.9204V23.2812C15.7244 23.3059 15.7329 23.3267 15.7499 23.3437C16.1135 23.7301 16.5851 24.2707 17.1647 24.9659C17.1817 24.9886 17.2054 25 17.2357 25H17.7897C17.8295 25 17.857 24.983 17.8721 24.9488C17.891 24.9147 17.8873 24.8825 17.8607 24.8522C17.3077 24.1742 16.873 23.6666 16.5567 23.3295C16.8787 23.2916 17.1401 23.1874 17.3409 23.017C17.5416 22.8466 17.6637 22.6249 17.7073 22.3522H18.1846C18.2111 22.3522 18.2329 22.3437 18.2499 22.3267C18.267 22.3097 18.2755 22.2879 18.2755 22.2614V21.9716C18.2755 21.945 18.267 21.9233 18.2499 21.9062Z"
                    fill="#42B819" />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="41" height="41" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="value">
              Cash
            </div>
          </div>

          <div class="option" [ngClass]="{'is-selected': card_click}" (click)="cardClicked()">
            <div class="icon">
              <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M36.7292 6.83325H4.27081C1.91675 6.83325 0 8.75 0 11.1041V29.8958C0 32.2499 1.91675 34.1666 4.27081 34.1666H36.7291C39.0832 34.1666 40.9999 32.2499 40.9999 29.8958V11.1041C41 8.75 39.0833 6.83325 36.7292 6.83325ZM39.2917 29.8958C39.2917 31.3086 38.142 32.4583 36.7292 32.4583H4.27081C2.85799 32.4583 1.70831 31.3086 1.70831 29.8958V11.1041C1.70831 9.69132 2.85799 8.54164 4.27081 8.54164H36.7291C38.1419 8.54164 39.2916 9.69132 39.2916 11.1041L39.2917 29.8958Z"
                    fill="#97A0AF" />
                  <path
                    d="M40.1458 11.9584H0.854193C0.382693 11.9584 0 12.3411 0 12.8126V17.9376C0 18.4091 0.382693 18.7918 0.854193 18.7918H40.1459C40.6174 18.7918 41.0001 18.4091 41.0001 17.9376V12.8126C41 12.3411 40.6173 11.9584 40.1458 11.9584ZM39.2917 17.0834H1.70831V13.6667H39.2916L39.2917 17.0834Z"
                    fill="#97A0AF" />
                  <path
                    d="M16.2292 23.9168H5.97919C5.50769 23.9168 5.125 24.2995 5.125 24.771C5.125 25.2425 5.50769 25.6251 5.97919 25.6251H16.2292C16.7007 25.6251 17.0834 25.2424 17.0834 24.7709C17.0834 24.2994 16.7007 23.9168 16.2292 23.9168Z"
                    fill="#97A0AF" />
                  <path
                    d="M16.2292 27.3333H5.97919C5.50769 27.3333 5.125 27.716 5.125 28.1875C5.125 28.659 5.50769 29.0416 5.97919 29.0416H16.2292C16.7007 29.0416 17.0834 28.659 17.0834 28.1875C17.0833 27.716 16.7007 27.3333 16.2292 27.3333Z"
                    fill="#97A0AF" />
                  <path
                    d="M33.3126 22.2083H31.6043C30.1915 22.2083 29.0418 23.3579 29.0418 24.7708V26.4791C29.0418 27.8919 30.1915 29.0416 31.6043 29.0416H33.3126C34.7254 29.0416 35.8751 27.8919 35.8751 26.4791V24.7708C35.8751 23.358 34.7254 22.2083 33.3126 22.2083ZM34.1668 26.4791C34.1668 26.9506 33.7841 27.3333 33.3126 27.3333H31.6043C31.1328 27.3333 30.7501 26.9506 30.7501 26.4791V24.7708C30.7501 24.2993 31.1328 23.9166 31.6043 23.9166H33.3126C33.7841 23.9166 34.1668 24.2993 34.1668 24.7708V26.4791Z"
                    fill="#97A0AF" />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="41" height="41" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="value">
              Card
            </div>
          </div>

          <div class="option" [ngClass]="{'is-selected': cheque_click}" (click)="chequeClicked()">
            <div class="icon">
              <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M40.3167 11.9584H6.15V11.6167C6.15 9.91849 4.77325 8.54175 3.075 8.54175C1.37675 8.54175 0 9.91849 0 11.6167V29.0417C0.00222083 30.9277 1.53067 32.4562 3.41667 32.4584H35.5333C35.9107 32.4584 36.2167 32.1525 36.2167 31.7751V29.7251H40.3167C40.694 29.7251 41 29.4191 41 29.0417V12.6417C41 12.2644 40.694 11.9584 40.3167 11.9584ZM1.36667 11.6167C1.36667 10.6732 2.13149 9.90841 3.075 9.90841C4.01851 9.90841 4.78333 10.6732 4.78333 11.6167V26.154C3.75364 25.4518 2.39978 25.4485 1.36667 26.1458V11.6167ZM34.85 31.0918H3.41667C2.28447 31.0918 1.36667 30.1739 1.36667 29.0417V28.7001C1.36667 27.7566 2.13149 26.9917 3.075 26.9917C4.01851 26.9917 4.78333 27.7566 4.78333 28.7001V29.0417C4.78333 29.4191 5.0893 29.7251 5.46667 29.7251H34.85V31.0918ZM39.6333 28.3584H6.15V13.3251H39.6333V28.3584Z"
                  fill="#97A0AF" />
                <path
                  d="M37.5833 14.6917H8.2C7.82263 14.6917 7.51667 14.9977 7.51667 15.3751V26.3084C7.51667 26.6858 7.82263 26.9918 8.2 26.9918H37.5833C37.9607 26.9918 38.2667 26.6858 38.2667 26.3084V15.3751C38.2667 14.9977 37.9607 14.6917 37.5833 14.6917ZM36.9 25.6251H8.88333V16.0584H36.9V25.6251Z"
                  fill="#97A0AF" />
                <path d="M15.0333 17.4251H10.25V18.7917H15.0333V17.4251Z" fill="#97A0AF" />
                <path d="M25.2833 20.1584H10.25V21.5251H25.2833V20.1584Z" fill="#97A0AF" />
                <path d="M34.85 20.1584H26.65V21.5251H34.85V20.1584Z" fill="#97A0AF" />
                <path d="M34.85 22.8917H23.9167V24.2584H34.85V22.8917Z" fill="#97A0AF" />
              </svg>
            </div>
            <div class="value">
              Cheque/DD
            </div>
          </div>
        </div>
      </div>

      <div class="amount-wrap m-t">
        <div class="amount-type">
          Total Bill Amount
        </div>
        <div class="amount-value">
          <div class="money-icon">
            <svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M17.1249 5.89052C17.0142 5.77973 16.8726 5.72443 16.7004 5.72443H13.5429C13.3335 4.70298 12.9395 3.81633 12.361 3.06543H16.6633C16.8359 3.06543 16.9772 3.01007 17.0882 2.89953C17.1984 2.78881 17.2538 2.6471 17.2538 2.4748V0.590889C17.2538 0.41846 17.1985 0.277011 17.0882 0.166155C16.9771 0.0555575 16.8358 0 16.6632 0H1.29981C1.12738 0 0.985931 0.0555575 0.875075 0.16609C0.764542 0.276947 0.708984 0.418395 0.708984 0.590824V3.04674C0.708984 3.20675 0.767452 3.34522 0.884388 3.46216C1.00132 3.57909 1.1398 3.63756 1.29981 3.63756H3.97737C6.57473 3.63756 8.22438 4.3329 8.926 5.7241H1.29981C1.12738 5.7241 0.985737 5.7794 0.875075 5.89019C0.764542 6.00111 0.708984 6.1425 0.708984 6.31493V8.19858C0.708984 8.37088 0.764283 8.51252 0.875075 8.62305C0.985931 8.73397 1.12764 8.78914 1.29981 8.78914H9.1849C8.91403 9.79888 8.28304 10.5681 7.29193 11.0975C6.30076 11.627 4.99306 11.8917 3.36798 11.8917H1.29981C1.1398 11.8917 1.00132 11.9502 0.884388 12.0671C0.767388 12.1841 0.708984 12.3226 0.708984 12.4825V14.8279C0.708984 14.9882 0.764283 15.1235 0.875075 15.2342C3.23856 17.7455 6.30399 21.2598 10.071 25.7782C10.1819 25.926 10.3357 25.9997 10.5327 25.9997H14.1334C14.3922 25.9997 14.5708 25.8893 14.669 25.6672C14.7921 25.4457 14.7679 25.2364 14.5951 25.0394C11.0008 20.6321 8.17536 17.3329 6.11947 15.1417C8.21229 14.8956 9.91116 14.2183 11.2161 13.1106C12.5209 12.0027 13.3148 10.5621 13.5982 8.78947H16.7004C16.8726 8.78947 17.0143 8.73423 17.1249 8.62338C17.2358 8.51284 17.2913 8.3712 17.2913 8.1989V6.31544C17.2913 6.14282 17.2358 6.00137 17.1249 5.89052Z"
                fill="#505F79" />
            </svg>
          </div>
          {{totalBillAmount}}/-
        </div>
      </div>

      <!--Input Fields-->
      <div class="form-wrap" *ngIf="cash_click">
        <div class="amount-wrap">
          <div class="amount-type">
            Return Amount
          </div>
          <div class="amount-value">
            <div class="money-icon">
              <svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M17.1249 5.89052C17.0142 5.77973 16.8726 5.72443 16.7004 5.72443H13.5429C13.3335 4.70298 12.9395 3.81633 12.361 3.06543H16.6633C16.8359 3.06543 16.9772 3.01007 17.0882 2.89953C17.1984 2.78881 17.2538 2.6471 17.2538 2.4748V0.590889C17.2538 0.41846 17.1985 0.277011 17.0882 0.166155C16.9771 0.0555575 16.8358 0 16.6632 0H1.29981C1.12738 0 0.985931 0.0555575 0.875075 0.16609C0.764542 0.276947 0.708984 0.418395 0.708984 0.590824V3.04674C0.708984 3.20675 0.767452 3.34522 0.884388 3.46216C1.00132 3.57909 1.1398 3.63756 1.29981 3.63756H3.97737C6.57473 3.63756 8.22438 4.3329 8.926 5.7241H1.29981C1.12738 5.7241 0.985737 5.7794 0.875075 5.89019C0.764542 6.00111 0.708984 6.1425 0.708984 6.31493V8.19858C0.708984 8.37088 0.764283 8.51252 0.875075 8.62305C0.985931 8.73397 1.12764 8.78914 1.29981 8.78914H9.1849C8.91403 9.79888 8.28304 10.5681 7.29193 11.0975C6.30076 11.627 4.99306 11.8917 3.36798 11.8917H1.29981C1.1398 11.8917 1.00132 11.9502 0.884388 12.0671C0.767388 12.1841 0.708984 12.3226 0.708984 12.4825V14.8279C0.708984 14.9882 0.764283 15.1235 0.875075 15.2342C3.23856 17.7455 6.30399 21.2598 10.071 25.7782C10.1819 25.926 10.3357 25.9997 10.5327 25.9997H14.1334C14.3922 25.9997 14.5708 25.8893 14.669 25.6672C14.7921 25.4457 14.7679 25.2364 14.5951 25.0394C11.0008 20.6321 8.17536 17.3329 6.11947 15.1417C8.21229 14.8956 9.91116 14.2183 11.2161 13.1106C12.5209 12.0027 13.3148 10.5621 13.5982 8.78947H16.7004C16.8726 8.78947 17.0143 8.73423 17.1249 8.62338C17.2358 8.51284 17.2913 8.3712 17.2913 8.1989V6.31544C17.2913 6.14282 17.2358 6.00137 17.1249 5.89052Z"
                  fill="#505F79" />
              </svg>
            </div>
            {{ getReturnAmount() || '0'}}/-
          </div>
        </div>

        <div class="fields" *ngIf="hide_cancel === false" >
          <mat-form-field class="pay-field" appearance="outline">
            <mat-label>Pay Amount</mat-label>
            <input matInput placeholder="Pay Amount" [(ngModel)]="paidAmount" type="number">
          </mat-form-field>
        </div>
        <div class="fields" *ngIf="hide_cancel === false" >
          <mat-form-field class="pay-field" appearance="outline">
            <mat-label>Received Cash</mat-label>
            <input matInput placeholder="Received Cash" [(ngModel)]="receivedAmount" type="number">
          </mat-form-field>
        </div>
      </div>

      <div class="form-wrap" *ngIf="card_click">
        <div class="fields" *ngIf="hide_cancel === false">
          <mat-form-field class="pay-field" appearance="outline">
            <mat-label>Pay Amount</mat-label>
            <input matInput placeholder="Pay Amount" [(ngModel)]="paidAmount" type="number">
          </mat-form-field>
        </div>
        <div class="fields" *ngIf="hide_cancel === false">
          <mat-form-field class="pay-field" appearance="outline">
            <mat-label>POS #</mat-label>
            <input matInput placeholder="POS #" [(ngModel)]="posNumber" type="number">
          </mat-form-field>
        </div>
        <div class="fields" *ngIf="hide_cancel === false">
          <label for="">Card Type</label>
          <mat-radio-group aria-label="Select an Card Type" placeholder="Card Type" [(ngModel)]="cardType"
            [value]="card_type">
            <mat-radio-button value="CC" [disabled]>Credit Card</mat-radio-button>
            <mat-radio-button value="DC" [disabled]>Debit Card</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-wrap" *ngIf="cheque_click"> 
        <div class="fields" *ngIf="hide_cancel === false">
          <mat-form-field class="pay-field" appearance="outline">
            <mat-label>Pay Amount</mat-label>
            <input matInput placeholder="Pay Amount" [(ngModel)]="paidAmount" type="number">
          </mat-form-field>
        </div>
        <div class="fields" *ngIf="hide_cancel === false">
          <mat-form-field class="pay-field" appearance="outline">
            <mat-label>Cheque/DD No.</mat-label>
            <input matInput placeholder="Cheque/DD #" [(ngModel)]="chequeNumber" type="text" max="6" maxlength="6">
          </mat-form-field>
        </div>
        <div class="fields" *ngIf="hide_cancel === false">
          <mat-form-field class="pay-field" appearance="outline">
            <mat-label>Micr Code.</mat-label>
            <input matInput placeholder="Micr Code #" [(ngModel)]="micrNumber" type="text" max="9" maxlength="9">
          </mat-form-field>
        </div>
        <div class="fields" *ngIf="hide_cancel === false">
          <label for="">Category</label>
          <mat-radio-group aria-label="Select a category" placeholder="Type" [(ngModel)]="paperType"
            [value]="paper_type">
            <mat-radio-button value ="CHEQUE" [disabled]>Cheque</mat-radio-button>
            <mat-radio-button value ="DD" [disabled]>DD</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="fields" *ngIf="hide_cancel === false">
          <div class="pay-field for-dates" appearance="outline">
            <mat-form-field color="primary">
              <input matInput [(ngModel)]="cheque_date" [matDatepicker]="picker" placeholder="Choose a date"
                [value]="date.value" [min]="minDate" [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
          <!-- <div class="fields" *ngIf="hide_cancel === false">
            <div class="pay-field">
              <label> Select bank </label>
              <ng-select *ngIf="cheque_click" [items]="bankNameList" [(ngModel)]="bankName" placeholder="Select a Bank"
                style="width: 100%;">
              </ng-select>
            </div>
          </div> -->
        </div>

        <div class="row">
          <div class="col" [formGroup]="cancelTransactionForm" (ngSubmit)="cancelTransaction()"
            *ngIf="hide_cancel == true">
            <!--Remarks-->
            <mat-form-field appearance="outline" style="width:100%;">
              <mat-label>Remarks</mat-label>
              <input formControlName="remark" type="text" matInput placeholder="Enter Remarks">
              <mat-hint *ngIf="submitted && f.remark.errors">
                <div *ngIf="f.remark.errors.required">Remarks is required</div>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="btn-wrap">
              <!-- ADD BUTTONS -->
              <button *ngIf="hide_cancel == false" mat-flat-button class="warning-color cancel-button"
                (click)="showcancelTransaction()">Cancel</button>
              
              <button *ngIf="hide_cancel == true" mat-button mat-raised-button class="cancel-button"
                (click)="back()">Back to Pay</button>
              
              <button *ngIf="hide_cancel == true" mat-button mat-raised-button color="warn"
                (click)="cancelTransaction()">Confirm</button>
                
              <button *ngIf="hide_cancel == false" mat-raised-button class="pay-button" (click)="doPayment()">Pay</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
