<div class="container">

  <div class="content-wrap">
    <section>
      <div class="row">
        <div class="col">
          <div class="block">
            <div class="block-header">
              <div class="title">
                Bank Handover Slip
              </div>
              <button mat-raised-button (click)="onPrint()" class="cta">Print</button>
              <button mat-raised-button (click)="oncashPrint()" class="cta">Cash</button>
              <button mat-raised-button (click)="oncardPrint()" class="cta">Card</button>
              <button mat-raised-button (click)="onchequePrint()" class="cta">Cheque</button>
            </div>

            <div class="block-body watermark">

              <div class="row led-info">

                <div class="info-block">
                  <div class="info-block-head">
                    <div class="icon green">
                      <i class="material-icons">
                        calendar_view_day
                      </i>
                    </div>
                  </div>

                  <div class="info-block-body">
                    <div class="value">
                      {{closedLD_id.ledger_uid}}
                    </div>
                    <div class="key">
                      Ledger UID
                    </div>
                  </div>
                </div>

                <div class="info-block">
                  <div class="info-block-head">
                    <div class="icon blue">
                      <i class="material-icons">
                        calendar_today
                      </i>
                    </div>
                  </div>

                  <div class="info-block-body">
                    <div class="value">
                      {{getReceiptDate()}}
                    </div>
                    <div class="key">
                      Created on
                    </div>
                  </div>
                </div>

                <div class="info-block">
                  <div class="info-block-head">
                    <div class="icon orange">
                      <i class="material-icons">
                        person
                      </i>
                    </div>
                  </div>

                  <div class="info-block-body">
                    <div class="value">
                      {{fullname}}
                    </div>
                    <div class="key">
                      Created by
                    </div>
                  </div>
                </div>

                <div class="info-block">
                  <div class="info-block-head">
                    <div class="icon green">
                      <i class="material-icons">
                        home
                      </i>
                    </div>
                  </div>

                  <div class="info-block-body">
                    <div class="value">
                      {{centre_code}}
                    </div>
                    <div class="key">
                      Centre Code
                    </div>
                  </div>
                </div>

              </div>

              <div class="block-body">
                <div class="row dns-head">
                  <div class="logo logo-small">
                    <img src="/esuvidha.png" alt="">
                  </div>
                  <div class="slip-info">
                    <div class="slip-key">
                      Date:
                    </div>
                    <div class="slip-value">
                      {{getReceiptDate()}}
                    </div>
                  </div>
                </div>
                <div class="dns-body">
                  <div class="row">
                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Agent Name:
                        </div>
                        <div class="slip-value grow">
                          {{fullname}}
                        </div>
                      </div>
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Centre Code:
                        </div>
                        <div class="slip-value grow">
                          {{centre_code}}
                        </div>
                      </div>
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Counter No.:
                        </div>
                        <div class="slip-value grow">
                          {{counter_name}} - {{counter_no}}
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Ledger UID:
                        </div>
                        <div class="slip-value grow">
                          {{closedLD_id.ledger_uid}}
                        </div>
                      </div>
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          No. of Transactions:
                        </div>
                        <div class="slip-value grow">
                          {{closedLD?.total_tnx}}
                        </div>
                      </div>
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          No. of Services:
                        </div>
                        <div class="slip-value grow">
                          1
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="row">

                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Total Cash Amt.:
                        </div>
                        <div class="slip-value grow">
                          ₹{{closedLD?.cash_sum}}/-
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Total Cheque Amt.:
                        </div>
                        <div class="slip-value grow">
                          ₹{{closedLD?.cheque_sum}}/-
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Total POS Amt.:
                        </div>
                        <div class="slip-value grow">
                          ₹{{closedLD?.card_sum}}/-
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Total Disputed Amt.:
                        </div>
                        <div class="slip-value grow">
                          ₹{{closedLD?.dispute_sum}}/-
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Total Collected Amt.:
                        </div>
                        <div class="slip-value grow">
                          ₹{{closedLD?.total_sum}}/-
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- ----Cash Denomination Summary--- -->
                  <div class="row" *ngIf="cashPrint">
                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Cash Denomination Summary
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col">
                      <button mat-raised-button (click)="oncashPrint()" class="cta">Print</button>
                    </div> -->
                  </div>
                  <div class="row" *ngIf="cashPrint">
                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="grow dino-grow">
                          <table class="dino-table" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                              <tr style="background-color: lightgrey">
                                <th>Denomination</th>
                                <th>Notes Count</th>
                                <th>Amount</th>
                              </tr>
                              <tr class="a-r">
                                <td> 2000/-</td>
                                <td>{{freezedLD?.rs_2000}}</td>
                                <td>Rs.{{2000*freezedLD?.rs_2000}}/-</td>
                              </tr>
                              <tr class="a-r">
                                <td> 500/-</td>
                                <td>{{freezedLD?.rs_500}}</td>
                                <td>Rs.{{500*freezedLD?.rs_500}}/-</td>
                              </tr>
                              <tr class="a-r">
                                <td> 200/-</td>
                                <td>{{freezedLD?.rs_200}}</td>
                                <td>Rs.{{200*freezedLD?.rs_200}}/-</td>
                              </tr>
                              <tr class="a-r">
                                <td> 100/-</td>
                                <td>{{freezedLD?.rs_100}}</td>
                                <td>Rs.{{100*freezedLD?.rs_100}}/-</td>
                              </tr>
                              <tr class="a-r">
                                <td> 50/-</td>
                                <td>{{freezedLD?.rs_50}}</td>
                                <td>Rs.{{50*freezedLD?.rs_50}}/-</td>
                              </tr>
                              <tr class="a-r">
                                <td> 20/-</td>
                                <td>{{freezedLD?.rs_20}}</td>
                                <td>Rs.{{20*freezedLD?.rs_20}}/-</td>
                              </tr>
                              <tr class="a-r">
                                <td>10/-</td>
                                <td>{{freezedLD?.rs_10}}</td>
                                <td>Rs.{{10*freezedLD?.rs_10}}/-</td>
                              </tr>
                              <tr class="a-r">
                                <td>5/-</td>
                                <td>{{freezedLD?.rs_5}}</td>
                                <td>Rs.{{5*freezedLD?.rs_5}}/-</td>
                              </tr>
                              <tr class="a-r">
                                <td>2/-</td>
                                <td>{{freezedLD?.rs_2}}</td>
                                <td>Rs.{{2*freezedLD?.rs_2}}/-</td>
                              </tr>
                              <tr class="a-r">
                                <td>1/-</td>
                                <td>{{freezedLD?.rs_1}}</td>
                                <td>Rs.{{1*freezedLD?.rs_1}}/-</td>
                              </tr>
                              <tr>
                                <th colspan="2" style="background-color: lightgrey">Total Amount</th>
                                <td style="background-color: lightgrey">
                                  <b>Rs.{{closedLD?.cash_sum}}/-</b>
                                </td>
                              </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ----Cheque Denomination Summary---- -->
                  <div class="row" *ngIf="chequePrint">
                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Cheque Summary
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col">
                      <button mat-raised-button (click)="onchequePrint()" class="cta">Print</button>
                    </div> -->
                  </div>
                  <div class="row page-break" *ngIf="chequePrint">
                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="grow dino-grow">
                          <table class="dino-table" border="1" cellpadding="0" cellspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>Cheque No.</th>
                                <th>Bank Name</th>
                                <th>Cheque Date</th>
                                <th>Amount</th>
                                <th>Payment Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let element of closedLD?.chequeDtls; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{element?.cheque_num}}</td>
                                <td>{{element?.bank_name}}</td>
                                <td>{{element?.cheq_due_date | date}}</td>
                                <td>{{element?.paid_amount}}</td>
                                <td>{{element?.inserted_date | date}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ----Card Denomination Summary---- -->
                  <div class="row" *ngIf="cardPrint">
                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="slip-key">
                          Card Summary
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col">
                      <button mat-raised-button (click)="oncardPrint()" class="cta">Print</button>
                    </div> -->
                  </div>
                  <div class="row page-break" *ngIf="cardPrint">
                    <div class="col">
                      <div class="slip-info full m-b">
                        <div class="grow dino-grow">
                          <table class="dino-table" border="1" cellpadding="0" cellspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th>S.No</th>
                                <th>POS Transaction ID</th>
                                <th>Amount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let element of closedLD?.cardDtls; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{element?.pos_num}}</td>
                                <td>{{element?.paid_amount}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
