.dino-table, .dino-grow{
    width: 100% !important;
  }
  
  table.dino-table td, table.dino-table th {
    padding: 0.6rem 0.4rem;
    font-size: 1.2em;
  }

  @media print {
    * {
        // background: red !important;
        color:  #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        margin-top: 0px !important;
        padding-top:2px !important;
        font:10pt "Tahoma" !important;
        margin: 0.5px !important;
        header, footer, aside, nav, form, iframe, .menu, .hero, .adslot,.material-icons,.icon {
          display: none;
        }
        .page-break { display: block; page-break-before: auto; }
    }
  }