@import "~@ng-select/ng-select/themes/default.theme.css";

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 12px;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(223, 225, 230, 0.8);
  z-index: 9999;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

section {
  max-width: 1280px;
  min-width: 720px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #3F5050;
  font-size: 1.2em;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

.icon {
  color: #ffffff;

}

.m-t {
  margin-top: 2rem;
}

.m-b {
  margin-bottom: 2rem;
}

.m-l {
  margin-left: 1.4rem !important;
}

.m-r {
  margin-right: 1.4rem !important;
}

.a-r {
  text-align: right;
}

.p-btn:hover {
  background: #FB6F0A !important;
}

.enable-edit {
  color: #6B778C;
  margin: 0 1rem;
  cursor: pointer;
}

.warning-color {
  color: #F82222 !important;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
}

.row-vert {
  display: flex;
  flex-direction: column;
}

.col {
  flex: 1;
  height: 100%;
  padding: 0 1.2rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  color: #6B778C;
}

.green {
  color: #18B73B !important;
}

.red {
  color: #F82222 !important;
}

.blue {
  color: #287FD0 !important;
}

.container-wrap {
  display: flex;
  justify-content: stretch;
  width: 100%;
  background: #FAFBFC;
}

.container {
  width: 100%;
}

.side-nav {
  width: 220px;
  height: 100%;
  min-height: 100vh;
  background: #ffffff;
}

.brand {
  display: flex;
  align-items: center;
  height: 72px;
}

.logo {
  padding: 0 3.6rem;
  width: 100%;

  img {
    width: 100%;
  }
}

.side-nav .menu {
  padding: 1.2rem 0;
}

.side-nav .menu .items {
  width: 100%;
}

.side-nav .menu .items .item {
  position: relative;
  margin: 1.2rem 0;
}

.side-nav .menu .items .item .link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  color: #6B778C;
  font-size: 1.3em;
  font-weight: 400;
}

.side-nav .menu .items .item .link.sublink {
  padding-left: 4.2rem;
  margin: -1.2rem 0 -1.2rem 0;
  transition: all 0.1s ease-in-out;
}

.side-nav .menu .items .item .link.sublink.subactive {
  color: #FC891F;
}

.side-nav .menu .items .item .link.sublink:hover,
.side-nav .menu .items .item .link:hover {
  background: #EBECF0;
}

.link+.submenu {
  display: none;
}

.link.active+.submenu {
  display: block;
}

.side-nav .menu .items .item .link .content {
  display: flex;
  align-items: center;
}

.side-nav .menu .items .item .link.active {
  background: #F4F5F7;
}

.side-nav .menu .items .item .link.active::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background: #FC891F;
}

.side-nav .menu .items .item .link.active .icon {
  color: #FC891F;
}

.side-nav .menu .items .item .link .more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6B778C;
  transition: all 0.3s ease-in-out;
}

.side-nav .menu .items .item .link.active .more {
  transform: rotate(180deg);
}

.content-wrap {
  padding: 2.4rem;
}

.att-col {
  width: 420px;
  max-width: 420px;
}

.not-col {
  width: 100%;
}

.make-table-look-sexy {
  text-align: left;
  border: none;
  border: 1px solid #C1C7D0 !important;
  border-radius: 4px;
  margin-bottom: 1.8rem !important;

  thead {
    tr {
      th {
        padding: 1.8rem 1rem !important;
        color: #172B4D;
        font-size: 1.1em;
        font-weight: 500;
        border-bottom: 1px solid #C1C7D0 !important;
        outline: none !important;
      }
    }
  }

  td {
    font-size: 1.1em;
    color: #172B4D;
    padding: 1.8rem 1rem;
  }

  .btn-table {
    color: #344563;
  }
}

div#DataTables_Table_0_length select {
  background: none;
  border: none;
  color: #FB6F0A;
  font-weight: 600;
  text-decoration: underline;
  outline: none !important;
  cursor: pointer;
}

div#DataTables_Table_0_filter input[type="search"] {
  padding: 0.4rem 1rem;
  border: 1px solid #C1C7D0 !important;
  border-radius: 2px;
}

div#DataTables_Table_0_length,
div#DataTables_Table_0_filter {
  font-size: 1.2em !important;
  color: #172B4D !important;
  margin-bottom: 1.6rem !important;
}

.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #DFE1E6;
  background: #ffffff;
  border-radius: 8px;
}

.block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem;
  border-bottom: 1px solid #DFE1E6;
}

.block-header .title {
  font-size: 1.4em;
  font-weight: 500;
  color: #505F79;
}

.block-header .cta {
  font-size: 1.2em;
  font-weight: 500;
  color: #FC891F;
}

.block-header .cta:hover {
  text-decoration: underline;
}

.block-body {
  padding: 1.8rem;
}

.att-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.att-details .icon {
  padding: 1rem;
  border-radius: 100%;
  border: 2px solid #DFE1E6;
}

.att-details .icon .material-icons {
  font-size: 20px;
}

.att-detail {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.att-detail .detail {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.att-detail .name {
  font-size: 1em;
  color: #A5ADBA;
}

.att-detail .value {
  font-size: 1.4em;
  color: #8993A4;
  margin: 0.4rem 0;
}

.notices {
  display: flex;
  justify-content: center;
  align-items: center;
}

.led-info {
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.info-block {
  display: flex;
  align-items: center;
  background: #ffffff;
  max-width: 320px;
  margin: 1rem 0;

  .info-block-head {
    padding: 0.4rem;

    .icon {
      padding: 1rem;
      border-radius: 50%;

      &.green {
        background: #E3FFE4;

        .material-icons {
          color: #18B73B;
        }
      }

      &.blue {
        background: #DEEFFF;

        .material-icons {
          color: #217DD2;
        }
      }

      &.orange {
        background: #FFECDB;

        .material-icons {
          color: #FC891F;
        }
      }

      &.green {
        background: #CBFFE9;

        .material-icons {
          color: #0FC478;
        }
      }
    }
  }

  .info-block-body {
    padding: 0.4rem;
    font-weight: 500;

    .value {
      font-size: 1.4em;
      color: #172B4D;
      margin: 0 0 0.4rem 0;
    }

    .key {
      font-size: 1em;
      color: #8993A4;
    }
  }
}

tab-label-active {
  color: #172B4D !important;
}

.timeline-block {
  padding: 1.6rem 0;

  .tb-head {
    padding: 1.4rem 0;

    .title {
      font-size: 1.6em;
      font-weight: 400;
      color: #344563;
    }
  }

  .tb-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .timeline {
      position: relative;
      margin: 1rem 0;
      width: 580px;

      .content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        margin: 1.2rem 0;
        padding: 1.2rem;
        background: #ffffff;
        width: 180px;
        max-width: 180px;
        border: 1px solid #EBECF0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
        border-radius: 6px;
        transform: translateX(-50%);

        &.show-created {
          left: 0;
        }

        &.show-closed {
          left: 50%;
        }

        &.show-freezed {
          left: 100%;
        }

        .keys {
          font-size: 1.2em;
          color: #6B778C;
          font-weight: 400;

          .key {
            margin: 0.4rem 0;
          }
        }

        .values {
          font-size: 1.2em;
          color: #344563;
          font-weight: 500;

          .value {
            margin: 0.4rem 0;
          }
        }
      }

      .progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 4px;
        background: #18B73B;
        border-radius: 4px;
      }

      .total {
        width: 100%;
        height: 4px;
        background: #DFE1E6;
        border-radius: 4px;
      }

      .checkpoint {
        position: absolute;
        top: 0;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border: 3px solid #DFE1E6;
        border-radius: 50%;
        cursor: pointer;

        &.active {
          border: 3px solid #18B73B;
        }

        &.status-created {
          left: 0%;
          transform: translate(-50%, -50%)
        }

        &.status-closed {
          left: 50%;
          transform: translate(-50%, -50%)
        }

        &.status-freezed {
          left: 100%;
          transform: translate(-50%, -50%)
        }
      }
    }
  }

}

mat-tab-body>* {
  height: auto !important;
  min-height: 120px !important;
  overflow: hidden !important;
}

.mat-tab-body-content {
  height: auto !important;
  min-height: 120px !important;
  overflow: hidden !important;
}

.dns-head {
  align-items: center;
  padding: 1.2rem 0 !important;
  margin: 0;

  .logo {
    width: 156px;
    padding: 0;
  }

  .dns-head-r {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.dns-body {
  padding: 2.4rem 0;
}

.slip-info {
  display: flex;
  align-items: center;

  &.full {
    width: 100%;
  }

  &.m-b {
    margin-bottom: 2rem;
  }

  .slip-key {
    font-size: 1.3em;
    font-weight: 400;
    color: #8993A4;
    margin-right: 0.6rem;
  }

  .slip-value {
    font-size: 1.3em;
    font-weight: 600;
    color: #344563;
    padding: 0 1rem;
    border-bottom: 2px solid #b7bcc5;

    &.grow {
      flex-grow: 1;
    }
  }
}

.dns-t {
  margin-bottom: 2.6rem;
}

@media print {

  app-sidenav,
  app-header,
  app-action-bar,
  .block-header {
    display: none;
  }

  .container,
  .container-wrap,
  .content,
  .content-wrap,
  section {
    margin: 0;
    padding: 0;
  }

  .container-wrap {
    padding: 1rem 2rem !important;
  }

  .block,
  .block-body {
    width: 100%;
    border: none;
  }
}

.m-b-h {
  margin-bottom: 3.4rem;
}

.m-t-h {
  margin-top: 3.4rem;
}

mat-form-field {
  .mat-form-field-wrapper {
    padding: 0 !important;
  }
}

.mat-select-trigger {
  padding: 0 0 !important;
}

.content-wrapper {
  padding-left: 220px;
}

.for-date {
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    height: 6.6rem !important;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background: #ffffff;
}

@media print {

  mat-sidenav,
  app-nav {
    display: none !important;
  }

  mat-sidenav-content {
    margin-left: 0 !important;
  }

  button {
    display: none !important;
  }
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 18px 1em !important;
}

.for-dates .mat-form-field-wrapper {
  height: 5.6rem !important;
}

.watermark {
  background: url('/watermark_esuv.png') no-repeat;
  background-position: center;
  background-size: contain;
}

.logo-small {
  height: 62px;
  padding: 0;

  img {
    width: auto;
    height: 100%;
  }
}

.com-logo {
  display: flex;
  justify-content: center;
  height: 116px;

  img {
    height: 100%;
  }
}