.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  width: 380px;
  min-width: 380px;
  padding: 2rem;
  border-radius: 12px;
  background: #ffffff;
  border: 2px solid #C1C7D0;
}

.logo {
  text-align: center;
  color: #344563;
  margin: 1.2rem 0;
}

.title {
  font-size: 24px;
}

.e-suvidhaLogo {
  width: 212px;
  // padding: 1rem 0 2rem 0;
}

.content {
  font-size: 14px;
  color: #505F79;
}

.form-wrap {
  width: 100%;
  margin: 2rem 0;
}

.desc {
  text-align: center;
  margin: 1.2rem;
}

.input-wrap {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  margin: 1rem 0;
}

mat-form-field {
  width: 100%;
}

.forgot-wrap {
  display: block;
  text-align: right;
}

.forgot-pass {
  display: inline-block;
  color: #7A869A;
  font-size: 1em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.login-wrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 1.4rem;
}

.login-wrap .login {
  background: #FC891F;
  color: #ffffff;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: #FB6F0A;
  }
}

mat-select {
  height: 3.6rem;
}