<div class="wrapper" *ngIf="login_hide">

  <div class="loginCard">
    <form [formGroup]="signinForm" (ngSubmit)="login()">
      <div class="logo">
        <mat-icon class="e-suvidhaLogo" svgIcon="e-suvidha"></mat-icon>
      </div>

      <div class="desc">
        <div class="title">Login</div>
        <p class="content">
          Login into your account to start transaction.
        </p>
      </div>
      <div class="form-wrap">
        <mat-card-content>

          <!--Form Error-->
          <div *ngIf="submitted && (f.username.errors || f.password.errors)">
            <div>Incorrect Username or Passwords</div>
          </div>

          <div class="input-wrap">

            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput placeholder="Username">
              <mat-error *ngIf="submitted && f.username.hasError">
                <div *ngIf="f.username.hasError('required')">Username is required</div>
                <div *ngIf="!f.username.hasError('required')">Username is invalid</div>
              </mat-error>
            </mat-form-field>

          </div>

          <!--Password-->
          <div class="input-wrap">

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password" formControlName="password">
              <mat-hint *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </mat-hint>
            </mat-form-field>

          </div>

          <div class="forgot-wrap">
            <a [routerLink]="['/forgotpassword']" class="forgot-pass">Forgot Password?</a>
          </div>

        </mat-card-content>
      </div>
      <div class="login-wrap">
        <button mat-raised-button class="login" type="submit">Login</button>
      </div>

    </form>

  </div>

</div>

<div class="wrapper" *ngIf="centre_hide">

  <div class="loginCard">
    <form [formGroup]="counterForm" (ngSubmit)="assignCounter()">
      <div class="logo">
        <mat-icon class="e-suvidhaLogo" svgIcon="e-suvidha"></mat-icon>
      </div>

      <div class="desc">
        <div class="title">Counter</div>
        <p class="content">
          Select a counter to start transaction.
        </p>
      </div>

      <mat-card-content class="form-wrap">

        <!--Form Error-->
        <div *ngIf="submit && (g.select_counter.errors)">
          <div>Error while selecting the counter</div>
        </div>

        <div class="input-wrap">

          <mat-form-field>
            <mat-label>Select your counter (required)</mat-label>
            <mat-select formControlName="select_counter" required>
              <mat-option> --- Select Counter --- </mat-option>
              <mat-option *ngFor="let counter of counters" [value]="counter.counter_code">
                {{counter.counter_code}}
              </mat-option>
            </mat-select>
          </mat-form-field>          

        </div>

      </mat-card-content>

      <div class="login-wrap">
        <button mat-raised-button class="login" type="submit">Submit</button>
      </div>

    </form>

  </div>

</div>
